*{
	box-sizing: border-box;
}

body {
	font-family: $font-normal;
	font-size: 16px;
	@include lt-spacing(20);
	line-height: 28px;
	color: $color-scorpion;
}

.breadcum {
	font-family: $font-normal;
	font-size: 16px;
	line-height: 24px;
	@include lt-spacing(0);
	color: $color-white;
	padding: 0;
	margin-bottom: 16px;
	a {
		color: $color-white;
	}
	li {
		display: inline-block;
		padding-right: 14px;
		&::after {
			content: "/";
			padding-left: 20px;
		}

	}
	li:last-child {
		&::after {
			content: "";
		}
	}
}

.section-top {
	height: 400px;
	position: relative;
	background-size: cover;
    background-position: center center;
}

.breadcum-container {
	position: absolute;
	bottom: 79px;
	left: 141px;
}

.page-title {
	font-family: $font-normal;
	font-size: 46px;
	line-height: 24px;
	color: $color-white;
	@include lt-spacing(0);
	margin: 0;
	&:before{
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: $color-white;
		margin-bottom: 26px;
	}
}

.top-title {
	font-family: $font-bold;
	font-size: 46px;
	@include lt-spacing(20);
	line-height: 45px;
	color: $color-tundora;
	text-align: center;
	margin-bottom: 20px;
}

.top-desc {
	max-width: 800px;
	margin: 0 auto 60px;
	text-align: center;
	p {
		font-size: 16px;
		@include lt-spacing(20);
		line-height: 26px;
		color: $color-scorpion;
		
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
}

.line {
	background-image: url('../images/line.png');
	width: 100%;
	height: 7px;
}

.our-team {
	background-image: url('../images/insurance/insurance3.png');
	height: 418px;
	margin-bottom: 90px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 10px;
}
.our-team-content {
	float: right;
	max-width: 440px;
	background: $color-midnight;
	height: 100%;
	padding: 50px 0 60px;
	border-radius: 0 10px 10px 0;
	.our-team-desc {
		text-align: center;
		padding: 0px 30px 40px;
		p {
			font-size: 22px;
			line-height: 33px;
			@include lt-spacing(0);
			color: $color-white;
		}
	}
}

.cta-wrapper {
	text-align: center;
	p {
		font-size: 14px;
		line-height: 24px;
		@include lt-spacing(30);
		color: $color-white;
		margin-bottom: 10px;
	}
}
.cta-btn-request {
	font-size: 16px;
	font-family: $font-semibold;
	line-height: 19px;
	@include lt-spacing(30);
	color: $color-white;
	background: $color-atlantis;
	border: 1.3px solid $color-white;
	border-radius: 54px;
	max-width: 280px;
	padding: 15px 40px 15px 20px;
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 13px;
	background-image: url('../images/ico_arrow.svg');
	background-repeat: no-repeat;
	background-position: 95% 17px;
	&:hover {
		background-position: 97% 17px;
	}
}
.cta-btn-contact {
	font-size: 16px;
	line-height: 19px;
	@include lt-spacing(30);
	color: $color-white;
	border: 1.3px solid $color-white;
	border-radius: 54px;
	padding: 15px 58px 15px 28px;
	background: transparent;
	cursor: pointer;
	background-image: url('../images/ico_arrow.svg');
	background-repeat: no-repeat;
	background-position: 82% 18px;
	&:hover {
		background-position: 85% 18px;
	}
}

.cta-btn-apply {
	border-radius: 54px;
	background: $color-lochmara;
	color: $color-white;
	font-family: $font-medium;
	line-height: 19px;
	font-size: 16px;
	@include lt-spacing(16);
	padding: 14px 59px;
	border: none;
}

a,button {
	transition: ease 300ms;
	&:hover {
		opacity: 0.8;
	}
}

button {
	cursor: pointer;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	
}

@media (max-width: 767px) {
	.top-desc {
		margin-bottom: 40px;
	}
	.top-title {
		font-size: 38px;
	}
	.breadcum-container {
		left: 0;
    	padding: 0 20px;
	}
	.page-title {
		padding-right: 15px;
	}
	.our-team {
		margin-bottom: 60px;
	}
	.our-team-content {
		border-radius: 10px;
	}
}