@import "vars";
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}

.dentistry-periodontal-care {
    .section-top {
        background-image: url("../images/dentisty_periodontal_care/dentistry-banner1.jpg");
        &-gradient {
            background-color: black;
            opacity: 0.4;
        }
        .ourblog-breadcrumb {
            z-index: 1;
            &-container,
            &-title {
                font-family: $font-normal;
            }
            &-title {
                text-transform: uppercase;
            }
        }
    }
    .section-body {
        &-item1 {
            &-title {
            }
            &-name {
            }
            &-des {
            }
        }
        &-item2 {
            &-img {
            }
            &-title {
            }
            &-list {
                &-item {
                    &-img {
                    }
                    &-name {
                    }
                    &-des {
                    }
                }
            }
        }
        &-item3 {
            &-border {
            }
            &-title {
            }
            &-des {
            }
        }
        &-item4 {
            &-banner {
                &-img {
                }
                &-title {
                }
            }
            &-des {
            }
            &-list {
                &-item {
                    &-img {
                    }
                    &-content {
                        &-name {
                        }
                        &-des {
                        }
                    }
                }
            }
        }
        &-item5 {
            &-title {
            }
            &-list {
                &-item {
                    &-img {
                    }
                    &-content {
                        &-name {
                        }
                        &-des {
                        }
                        &-more {
                        }
                    }
                }
            }
        }
        &-item6 {
            &-border {
            }
            &-content {
                &-img {
                }
                &-list {
                    &-title {
                    }
                    &-item {
                    }
                }
            }
        }
        &-item7 {
            &-img {
            }
            &-content {
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
