@import "vars";
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}

.dentistry-periodontal-care {
    .section-top {
        background-image: url("../images/dentisty_periodontal_care/dentistry-banner1.jpg");
        &-gradient {
            background-color: black;
            opacity: 0.4;
        }
        .dentistry-periodontal-care-breadcrumb {
            z-index: 1;
            &-container,
            &-title {
                font-family: $font-normal;
            }
            &-title {
                text-transform: uppercase;
            }
        }
    }
    .section-body {
        &-item1 {
            &-title {
                font-family: $font-monserrat;
                font-weight: $font-bold;
                color: #444444;
            }
            &-name {
                font-family: $font-dancingbold;
                color: #86c127;
            }
            &-des {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                color: #606060;
            }
        }
        &-item2 {
            &-img {
                background-color: #0072ad;
                margin-bottom: 5%;
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
            }
            &-title {
                font-family: $font-dancingbold;
                color: white;
            }
            &-list {
                &-content {
                    margin: auto 90px;
                    &-item {
                        background-color: #f7f7f7;
                        border-radius: 15px;
                        &-img {
                        }
                        &-name {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                            color: #444444;
                        }
                        &-des {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                            color: #606060;
                        }
                    }
                }
            }
        }
        &-item3 {
            &-border {
            }
            &-title {
            }
            &-des {
            }
        }
        &-item4 {
            &-content {
                &-banner {
                    &-img {
                    }
                    &-title {
                    }
                }
                &-des {
                }
                &-list {
                    &-item {
                        &-img {
                        }
                        &-content {
                            &-name {
                            }
                            &-des {
                            }
                        }
                    }
                }
            }
        }
        &-item5 {
            &-title {
            }
            &-list {
                &-item {
                    &-img {
                    }
                    &-content {
                        &-name {
                        }
                        &-des {
                        }
                        &-more {
                        }
                    }
                }
            }
        }
        &-item6 {
            &-border {
            }
            &-content {
                &-img {
                }
                &-list {
                    &-title {
                    }
                    &-item {
                    }
                }
            }
        }
        &-item7 {
            &-img {
            }
            &-content {
            }
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .dentistry-periodontal-care {
        .section-top {
            height: 500px;
            .dentistry-periodontal-care-breadcrumb {
                margin-left: 141px;
                &-container {
                    font-size: 16px;
                }
                &-title {
                    font-size: 46px;
                }
            }
        }
        .section-body {
            margin: 70px auto 90px;
            &-item1 {
                margin: 0 240px;
                &-title {
                    font-size: 46px;
                }
                &-name {
                    font-size: 48px;
                    margin-bottom: 10px;
                }
                &-des {
                    font-size: 16px;
                }
            }
            &-item2 {
                margin: 0 83px;
                &-img {
                }
                &-title {
                    font-size: 38px;
                    margin: 40px 220px 25px;
                }
                &-list {
                    &-content {
                        &-item {
                            padding: 30px 40px;
                            min-height: 400px;
                            &-img {
                            }
                            &-name {
                                margin: 30px auto 20px;
                                font-size: 22px;
                            }
                            &-des {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &-item3 {
                &-border {
                }
                &-title {
                }
                &-des {
                }
            }
            &-item4 {
                &-banner {
                    &-img {
                    }
                    &-title {
                    }
                }
                &-des {
                }
                &-list {
                    &-item {
                        &-img {
                        }
                        &-content {
                            &-name {
                            }
                            &-des {
                            }
                        }
                    }
                }
            }
            &-item5 {
                &-title {
                }
                &-list {
                    &-item {
                        &-img {
                        }
                        &-content {
                            &-name {
                            }
                            &-des {
                            }
                            &-more {
                            }
                        }
                    }
                }
            }
            &-item6 {
                &-border {
                }
                &-content {
                    &-img {
                    }
                    &-list {
                        &-title {
                        }
                        &-item {
                        }
                    }
                }
            }
            &-item7 {
                &-img {
                }
                &-content {
                }
            }
        }
    }
}
