@import "vars";
@mixin line-clamp($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.top-0 {
    top: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.left-0 {
    left: 0;
}

.dentistry-periodontal-care {
    .section-top {
        background-image: url("../images/dentisty_periodontal_care/dentistry-banner1.jpg");
        &-gradient {
            background-color: black;
            opacity: 0.4;
        }
        .dentistry-periodontal-care-breadcrumb {
            z-index: 1;
            &-container,
            &-title {
                font-family: $font-monserrat;
                font-weight: $font-regular;
            }
            &-title {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                text-transform: uppercase;
            }
        }
    }
    .section-body {
        &-item1 {
            &-title {
                font-family: $font-monserrat;
                font-weight: $font-bold;
                color: #444444;
            }
            &-name {
                font-family: $font-dancing;
                color: #86c127;
            }
            &-des {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                color: #606060;
            }
        }
        &-item2 {
            &-img {
                background-color: #0072ad;
                margin-bottom: 220px;
                border-top-right-radius: 50px;
                border-bottom-left-radius: 50px;
            }
            &-title {
                font-family: $font-dancing;
                color: white;
            }
            &-list {
                &-content {
                    margin: auto 90px;
                    &-item {
                        background-color: #f7f7f7;
                        border-radius: 15px;
                        &-img {
                        }
                        &-name {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                            color: #444444;
                        }
                        &-des {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                            color: #606060;
                        }
                    }
                }
            }
        }
        &-item3 {
            &-border {
            }
            &-title {
                font-family: $font-dancing;
                color: #86c127;
            }
            &-des {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                color: #606060;
            }
        }
        &-item4 {
            &-content {
                &-gradient {
                    z-index: -1;
                    &-bg {
                        background-color: #f7f7f7;
                    }
                }
                &-banner {
                    &-gradient {
                        background-image: linear-gradient(0deg, rgba(0, 35, 65, 0.8) 0%, rgba(0, 128, 128, 0) 100%);
                    }
                    &-img {
                    }
                    &-title {
                        font-family: $font-monserrat;
                        font-weight: $font-bold;
                        color: white;
                    }
                }
                &-des {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    color: #606060;
                }
                &-list {
                    &-item {
                        &-img {
                        }
                        &-content {
                            &-name {
                                font-family: $font-monserrat;
                                font-weight: $font-medium;
                                color: #444444;
                            }
                            &-des {
                                font-family: $font-monserrat;
                                font-weight: $font-regular;
                                color: #606060;
                            }
                        }
                    }
                }
            }
        }
        &-item5 {
            &-title {
                font-family: $font-monserrat;
                font-weight: $font-bold;
            }
            &-list {
                &-item {
                    &-img {
                        &-gradient {
                            background-image: linear-gradient(0deg, rgba(0, 35, 65, 0.8) 0%, rgba(0, 128, 128, 0) 100%);
                            border-radius: 5px;
                        }
                    }
                    &-content {
                        color: white;
                        &-name {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                        }
                        &-des {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                        }
                        &-more {
                            text-transform: uppercase;
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                            color: #86c127 !important;
                        }
                    }
                }
            }
        }
        &-item6 {
            &-bg {
                background-color: #008cd4;
            }
            &-border {
            }
            &-wrapper {
                &-content {
                    &-img {
                        img {
                            border-radius: 10px;
                            box-shadow: 8px 8px 0 0 #ffffff50;
                        }
                    }
                    &-list {
                        color: white;
                        &-title {
                            font-family: $font-monserrat;
                            font-weight: $font-extrbold;
                        }
                        &-item {
                            > div {
                                .item {
                                    font-family: $font-monserrat;
                                    font-weight: $font-regular;
                                    border-bottom: 2px solid;
                                    a {
                                        padding-right: 35px;
                                    }
                                    svg {
                                        width: 20px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &-item7 {
            &-img {
            }
            &-content {
                &-gradient {
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                    background-image: linear-gradient(
                        360deg,
                        rgba(0, 35, 65, 0.700717787114846) 0%,
                        rgba(0, 35, 65, 0.3029586834733894) 100%
                    );
                }
                &-form-contact {
                    border-radius: 10px;
                    color: white;
                    z-index: 1;
                    > div {
                        &:nth-child(1) {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                        }
                        &:nth-child(2),
                        &:nth-child(4) {
                            button {
                                border: 1px solid white;
                                border-radius: 25px;
                                color: white;
                                &:focus {
                                    outline: 0;
                                }
                            }
                        }
                        &:nth-child(2) {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                            button {
                                background-color: #86c127;
                            }
                        }
                        &:nth-child(4) {
                            font-family: $font-monserrat;
                            font-weight: $font-medium;
                            button {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Super small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
    .dentistry-periodontal-care {
        .section-top {
            height: 500px;
            .dentistry-periodontal-care-breadcrumb {
                margin-left: 20px;
                bottom: 90px;
                &-container {
                    font-size: 14px;
                }
                &-title {
                    font-size: 36px;
                    line-height: normal;
                    padding-right: 20px;
                    &::before {
                        margin-bottom: 14px;
                    }
                }
            }
        }
        .section-body {
            margin: 70px auto 90px;
            &-item1 {
                margin: 0 20px;
                &-title {
                    font-size: 46px;
                }
                &-name {
                    font-size: 48px;
                    margin-bottom: 10px;
                }
                &-des {
                    font-size: 16px;
                }
            }
            &-item2 {
                margin: 85px 20px 70px;
                &-img {
                }
                &-title {
                    font-size: 38px;
                    margin: 40px 220px 25px;
                }
                &-list {
                    &-content {
                        &-item {
                            padding: 30px 20px;
                            min-height: 400px;
                            &-img {
                            }
                            &-name {
                                margin: 30px auto 20px;
                                font-size: 22px;
                            }
                            &-des {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &-item3 {
                margin: auto 20px;
                &-border {
                }
                &-title {
                    font-size: 32px;
                    margin: 30px auto 60px;
                }
                &-des {
                    font-size: 16px;
                    margin-bottom: 65px;
                }
            }
            &-item4 {
                margin: 80px auto 0;
                padding-bottom: 70px;
                &-content {
                    padding: 0 20px;
                    &-gradient {
                        padding-top: 60px;
                        &-bg {
                        }
                    }
                    &-banner {
                        &-gradient {
                        }
                        &-img {
                        }
                        &-title {
                            bottom: 40px;
                            left: 90px;
                            font-size: 36px;
                        }
                    }
                    &-des {
                        font-size: 16px;
                        margin: 45px 20px 0;
                        text-align: center;
                    }
                    &-list {
                        margin: 30px 20px 0;
                        &-item {
                            margin-bottom: 27px;
                            &-img {
                                text-align: center;
                            }
                            &-content {
                                text-align: center;
                                &-name {
                                    font-size: 20px;
                                }
                                &-des {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
            &-item5 {
                margin: 80px 20px auto;
                &-title {
                    font-size: 40px;
                }
                &-list {
                    margin-top: 60px;
                    &-item {
                        margin-top: 40px;
                        &-img {
                        }
                        &-content {
                            padding: 22px;
                            &-name {
                                font-size: 28px;
                            }
                            &-des {
                                font-size: 15px;
                            }
                            &-more {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &-item6 {
                margin-top: 100px;
                &-bg {
                    margin: auto 20px auto 20px;
                }
                &-border {
                }
                &-wrapper {
                    padding: 50px 0;
                    &-content {
                        margin: auto 20px;
                        &-img {
                        }
                        &-list {
                            &-title {
                                margin-bottom: 25px;
                                font-size: 32px;
                            }
                            &-item {
                                > div {
                                    .item {
                                        margin-bottom: 25px;
                                        font-size: 18px;
                                        padding-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &-item7 {
                margin: 90px 20px auto;
                &-img {
                }
                &-content {
                    width: 100%;
                    &-gradient {
                    }
                    &-form-contact {
                        color: white;
                        margin: 45px 55px;
                        > div {
                            &:nth-child(1) {
                                font-size: 20px;
                                margin-bottom: 70px;
                            }
                            &:nth-child(2),
                            &:nth-child(4) {
                                font-size: 16px;
                                button {
                                    svg {
                                        font-size: 30px;
                                        margin-left: 35px;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                button {
                                    padding: 7px 20px;
                                }
                            }
                            &:nth-child(3) {
                                margin: 17px;
                            }
                            &:nth-child(4) {
                                button {
                                    padding: 7px 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .dentistry-periodontal-care {
        .section-top {
            height: 500px;
            .dentistry-periodontal-care-breadcrumb {
                margin-left: 141px;
                bottom: 90px;
                &-container {
                    font-size: 16px;
                }
                &-title {
                    font-size: 46px;
                }
            }
        }
        .section-body {
            margin: 70px auto 90px;
            &-item1 {
                margin: 0 240px;
                &-title {
                    font-size: 46px;
                }
                &-name {
                    font-size: 48px;
                    margin-bottom: 10px;
                }
                &-des {
                    font-size: 16px;
                }
            }
            &-item2 {
                margin: 85px 83px 70px;
                &-img {
                }
                &-title {
                    font-size: 38px;
                    margin: 40px 220px 25px;
                }
                &-list {
                    &-content {
                        &-item {
                            padding: 30px 20px;
                            min-height: 400px;
                            &-img {
                            }
                            &-name {
                                margin: 30px auto 20px;
                                font-size: 22px;
                            }
                            &-des {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &-item3 {
                margin: auto 141px;
                &-border {
                }
                &-title {
                    font-size: 32px;
                    margin: 30px auto 60px;
                }
                &-des {
                    font-size: 16px;
                    margin-bottom: 65px;
                }
            }
            &-item4 {
                margin: 80px auto 0;
                padding-bottom: 70px;
                &-content {
                    padding: 0 141px;
                    &-gradient {
                        padding-top: 160px;
                        &-bg {
                        }
                    }
                    &-banner {
                        &-gradient {
                        }
                        &-img {
                        }
                        &-title {
                            bottom: 40px;
                            left: 90px;
                            font-size: 36px;
                        }
                    }
                    &-des {
                        font-size: 16px;
                        margin: 45px 90px 0;
                        text-align: left;
                    }
                    &-list {
                        margin: 30px 90px 0;
                        &-item {
                            margin-bottom: 27px;
                            &-img {
                                text-align: left;
                            }
                            &-content {
                                text-align: left;
                                &-name {
                                    font-size: 20px;
                                }
                                &-des {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
            &-item5 {
                margin: 80px 141px auto;
                &-title {
                    font-size: 40px;
                }
                &-list {
                    margin-top: 60px;
                    &-item {
                        margin-top: 40px;
                        &-img {
                        }
                        &-content {
                            padding: 22px;
                            &-name {
                                font-size: 28px;
                            }
                            &-des {
                                font-size: 15px;
                            }
                            &-more {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            &-item6 {
                margin-top: 100px;
                &-bg {
                    margin: auto 141px auto 233px;
                }
                &-border {
                }
                &-wrapper {
                    padding: 50px 0;
                    &-content {
                        margin: auto 141px;
                        &-img {
                        }
                        &-list {
                            &-title {
                                margin-bottom: 25px;
                                font-size: 32px;
                            }
                            &-item {
                                > div {
                                    .item {
                                        margin-bottom: 25px;
                                        font-size: 18px;
                                        padding-bottom: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &-item7 {
                margin: 90px 141px auto;
                &-img {
                }
                &-content {
                    width: 40%;
                    &-gradient {
                    }
                    &-form-contact {
                        color: white;
                        margin: 45px 55px;
                        > div {
                            &:nth-child(1) {
                                font-size: 20px;
                                margin-bottom: 70px;
                            }
                            &:nth-child(2),
                            &:nth-child(4) {
                                font-size: 16px;
                                button {
                                    svg {
                                        font-size: 30px;
                                        margin-left: 35px;
                                    }
                                }
                            }
                            &:nth-child(2) {
                                button {
                                    padding: 7px 20px;
                                }
                            }
                            &:nth-child(3) {
                                margin: 17px;
                            }
                            &:nth-child(4) {
                                button {
                                    padding: 7px 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
