
.surgery {

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .page-title {
    line-height: normal;
  }
  .container-cus {
    width: 100%
  }
  .section-top {
		background-image: url('../images/dentistry_periodontal_care_gum_flap_surgery/group_1852.png');
		margin-bottom: 60px;
	}
	.bg-cover {
		background-color: blue($color: #000000);
	}
	.top-title {
		margin-bottom: 30px;
	}
	.info-gum-disease {
    margin-bottom: -5px;
    font-weight: bold;
    color: $color-lochmara;
    
	}
	.title {
    font-size: 19px;
  }
  .gum-disease-Symptoms-content{
    width: 410px;
    font-size: 16px;
  }
  .gum-disease-Symptoms-img-bg{
    background-color: white;
  }
  .gum-disease-Symptoms-important-content {
    font-size: 16px;
  }
  .bg-custom-blue {
    background-color: $color-lochmara ;
  }
  .color-text-custom-blue {
    color: $color-lochmara ;
  }
  .list-style-custom {
    font-size: 30px;
  }
 
  
  .line-custom {
    background-image: url(../images/dentistry_disease/line2.png);
    width: 100%;
    height: 7px;
    background-repeat: repeat-x;
  }

  .related-page {
    position: relative;
  }

  .border-bottom-white {
    border-bottom: 1px solid white;
  }

  .btn-request-appointment {
    background-color: $color-atlantis;
    border-radius: 50px;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid white;
  }
  .btn-contact-us{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    width: 50%;
    height: 50px;
  }

  .top-desc {
    text-align: center;
  }

  .text-healing-and-recovery {
    position: absolute;
    bottom: 0px;
    left: 50px;
    font-size: 20px;
  }
  .img-healing-and-recovery {
    position: absolute;
    top: -60px;
    left: 0px;
  }
  .treat-process-info {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
  }
  .treat-process-panel {
    margin-top: 60px;
  }
  .bg-related-page { 
    background-color: $color-lochmara;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-top {
		background-image: url('../images/dentistry_periodontal_care_gum_flap_surgery/group_1852.png');
		margin-bottom: 60px;
	}
	.bg-cover {
		background-color: blue($color: #000000);
	}
	.top-title {
		margin-bottom: 30px;
	}
	.info-gum-disease {
    margin-bottom: -5px;
    font-weight: bold;
    color: $color-lochmara;
    
	}
	.title {
    font-size: 19px;
  }
  .gum-disease-Symptoms-content{
    width: 410px;
    font-size: 16px;
  }
  .gum-disease-Symptoms-img-bg{
    background-color: white;
  }
  .gum-disease-Symptoms-important-content {
    font-size: 16px;
  }
  .bg-custom-blue {
    background-color: $color-lochmara ;
  }
  .color-text-custom-blue {
    color: $color-lochmara ;
  }
  .list-style-custom {
    font-size: 30px;
  }
  


  .line-custom {
    background-image: url(../images/dentistry_disease/line2.png);
    width: 100%;
    height: 7px;
    background-repeat: repeat-x;
  }

  .related-page {
    position: absolute;
    top: 27px;
    padding-left: 362px;
  }
  .w-fit-content {
    width: fit-content;
  }
  .border-bottom-white {
    border-bottom: 1px solid white;
  }

  .container-cus {
    width: 900px
  }
  .btn-request-appointment {
    background-color: $color-atlantis;
    border-radius: 50px;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid white;
  }
  .btn-contact-us{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    width: 50%;
    height: 50px;
  }

  .top-desc {
    min-width: 900px;
    text-align: center;
  }
  .img-healing-and-recovery {
    position: absolute;
    top: -160px;
  }
  .text-healing-and-recovery {
    position: absolute;
    bottom: 30px;
    left: 50px;
  }
  .treat-process-info {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 140px;
  }
  .treat-process-panel {
    margin-top: 120px;
  }
  .bg-candidate {
    background-image: url(../images/dentistry_periodontal_care_gum_flap_surgery/367865-PAXS2T-545.png.png);
    width: 100%;
    height: 100%;
  }
  // css in general

.font-type-italic {
  font-style: italic;
}
.color-green{
  color: $color-atlantis;
}
.color-lightgray{
  color:$color-silver
}

.bg-lightgray {
  background-color: $color-silver;
}
.pl-110p {
  padding-left: 110px;
}
.pr-110p {
  padding-right:110px
}
.pb-50p {
  padding-bottom: 50px;
}
.font-size-custom-14 {
  font-size: 14px ;
}
.font-size-custom-15{
  font-size: 15px ;
}
.font-size-custom-16{
  font-size: 16px ;
}
.font-size-custom-18 {
  font-size: 18px ;
}
.font-size-custom-22 {
  font-size: 22px ;
}
.font-size-custom-26 {
  font-size: 26px ;
}
.font-size-custom-32 {
  font-size: 32px 
}
.font-size-custom-36 {
  font-size: 36px ;
}
.font-size-custom-46 {
  font-size: 46px ;
}
.font-size-large {
  font-size: x-large;
}
.bg-related-page { 
  background-color: transparent;
}
}
.mt-110p {
  margin-top:110px
}
.mb-250p {
  margin-bottom:250px
}
.mt-250p {
  margin-top:250px
}
.pt-140p{
  padding-top: 140px;
}
.bg-blue {
  background-color: $color-lochmara ;
}
.mt-90p {
  margin-top:90px
}
.pd-20p {
  padding: 20px
}
.pl-50p {
  padding-left: 50px ;
}
.mb-50p {
  margin-bottom: 50px;
}
.mb-58p {
  margin-bottom: 58px;
}
.pt-50{
  padding-top: 50%;
}
.pt-50p {
  padding-top: 50px
}
.mb-13p {
  margin-bottom: 13px;
}
.mb-79p {
  margin-bottom: 79px
}
.mb-60p {
  margin-bottom: 60px
}
.h-30p{
  height: 30px;
}
.w-40 {
  width: 40%;
}
.color-text-unset {
  color: unset ;
}
.text-underline {
  text-decoration: underline;
}
.align-text-center {
  text-align: center;
}
.list-style-none {
  list-style: none ;
}

// margin element

.pb-63p {
  padding-bottom: 63px ;
 } 
  .mb-40p {
    margin-bottom: 40px ;
  }
  .mb-30p{ 
    margin-bottom: 30px ;
  }
  .mb-80p{
    margin-bottom: 80px ;
  }
  .mb-20p{
    margin-bottom: 20px 
  }
  .mb-56p {
    margin-bottom: 56px ;
  }
  .mb-78p {
    margin-bottom: 78px ;
  }
  .mb-85p {
    margin-bottom: 85px ;
  }
  .mb-84p {
    margin-bottom: 84px ;
  }
  .mb-90p {
    margin-bottom: 90px ;
  }
  .mb-91p {
    margin-bottom: 91px ;
  }
  .mb-94p {
    margin-bottom: 94px;
  }
  .pt-70p {
    padding-top: 70px 
  }
  .pb-70p {
    padding-bottom: 70px 
  }
  .pb-75p {
    padding-bottom: 75px 
  }
  .mt-65p {
    margin-top: 65px ;
  }
  .mb-65p {
    margin-bottom:65px ;
  }
  .mb-91p {
    margin-bottom: 90px ;
  }
  .pt-99p {
    padding-top: 99px ;
  }
  .font-montserrat {
    font-family: $font-monserrat;
  }
  .font-montserrat-bold {
    font-family: $font-monserrat;
    font-weight: $font-bold
  }
  .font-montserrat-semibold {
    font-family: $font-monserrat;
    font-weight: $font-semibold
  }
  .font-montserrat-medium {
      font-family: $font-monserrat;
    font-weight: $font-medium
  }
  .font-montserrat-regular {
    font-family: $font-monserrat;
    font-weight: $font-regular
  }
  .font-montserrat-light {
    font-family: $font-monserrat;
    font-weight: $font-light
  }
  .font-Dancing-scriptregular {
    font-family: $font-dancing;
    font-weight: $font-regular
  }
  .font-Dancing-bold {
    font-family: $font-dancing;
    font-weight: $font-bold
  }
}

