.chronic {

  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 767px) {
  .page-title {
    line-height: normal;
  }
  .container-cus {
    width: 100%
  }
  .section-top {
		background-image: url('../images/dentistry_periodontal_care _chronic_bad_breath/chronic_group_1847.png');
		margin-bottom: 60px;
	}
	.bg-cover {
		background-color: blue($color: #000000);
	}
	.top-title {
		margin-bottom: 30px;
	}
	.info-gum-disease {
    margin-bottom: -5px;
    font-weight: bold;
    color: #008CD4;
    
	}
	.title {
    font-size: 19px;
  }
  .gum-disease-Symptoms-content{
    width: 410px;
    font-size: 16px;
  }
  .gum-disease-Symptoms-img-bg{
    background-color: white;
  }
  .gum-disease-Symptoms-important-content {
    font-size: 16px;
  }
  .bg-custom-blue {
    background-color: #0072AD ;
  }
  .color-text-custom-blue {
    color: #008CD4 ;
  }
  .list-style-custom {
    font-size: 30px;
  }
  .color-text-unset {
    color: unset ;
  }
  .text-underline {
    text-decoration: underline;
  }
  .align-text-center {
    text-align: center;
  }
  .pd-20p {
    padding: 20px
  }
  .pl-50p {
    padding-left: 50px ;
  }
  .mb-50p {
    margin-bottom: 50px;
  }
  .mb-58p {
    margin-bottom: 58px;
  }
  .font-size-custom-14 {
    font-size: 14px;
  }
  .font-size-custom-15{
    font-size: 15px ;
  }
  .font-size-custom-16{
    font-size: 16px ;
  }
  .font-size-custom-18 {
    font-size: 18px 
  }
  .font-size-custom-22 {
    font-size: 22px 
  }
  .font-size-custom-26 {
    font-size: 26px 
  }
  .font-size-custom-32 {
    font-size: 32px 
  }
  .font-size-custom-36 {
    font-size: 36px;
  }
  .font-size-custom-46 {
    font-size: 46px;
  }
  .font-type-italic {
    font-style: italic;
  }
  .line-custom {
    background-image: url(../images/dentistry_disease/line2.png);
    width: 100%;
    height: 7px;
    background-repeat: repeat-x;
  }
  .list-style-none {
    list-style: none ;
  }
  .related-page {
    position: relative;

  }
  .w-fit-content {
    width: fit-content;
  }
  .border-bottom-white {
    border-bottom: 1px solid white;
  }
  .h-30p{
    height: 30px;
  }
  .w-40 {
    width: 40%;
  }

  .btn-request-appointment {
    background-color: #86C127;
    border-radius: 50px;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid white;
  }
  .btn-contact-us{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    width: 50%;
    height: 50px;
  }
  .pt-50{
    padding-top: 50%;
  }
  .pt-50p {
    padding-top: 50px
  }
  .mb-13p {
    margin-bottom: 13px;
  }
  .mb-79p {
    margin-bottom: 79px
  }
  .mb-60p {
    margin-bottom: 60px
  }
  .top-desc {
    text-align: center;
  }
  .bg-blue {
    background-color: #008cd4;
  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-top {
		background-image: url('../images/dentistry_periodontal_care _chronic_bad_breath/chronic_group_1847.png');
		margin-bottom: 60px;
	}
	.bg-cover {
		background-color: blue($color: #000000);
	}
	.top-title {
		margin-bottom: 30px;
	}
	.info-gum-disease {
    margin-bottom: -5px;
    font-weight: bold;
    color: #008CD4;
    
	}
	.title {
    font-size: 19px;
  }
  .gum-disease-Symptoms-content{
    width: 410px;
    font-size: 16px;
  }
  .gum-disease-Symptoms-img-bg{
    background-color: white;
  }
  .gum-disease-Symptoms-important-content {
    font-size: 16px;
  }
  .bg-custom-blue {
    background-color: #0072AD ;
  }
  .color-text-custom-blue {
    color: #008CD4 ;
  }
  .list-style-custom {
    font-size: 30px;
  }
  

  .color-text-unset {
    color: unset ;
  }
  .text-underline {
    text-decoration: underline;
  }
  .align-text-center {
    text-align: center;
  }
  .pd-20p {
    padding: 20px
  }
  .pl-50p {
    padding-left: 50px ;
  }
  .mb-50p {
    margin-bottom: 50px;
  }
  .mb-58p {
    margin-bottom: 58px;
  }
  .font-size-custom-14 {
    font-size: 14px;
  }
  .font-size-custom-15{
    font-size: 15px ;
  }
  .font-size-custom-16{
    font-size: 16px ;
  }
  .font-size-custom-18 {
    font-size: 18px 
  }
  .font-size-custom-22 {
    font-size: 22px 
  }
  .font-size-custom-26 {
    font-size: 26px 
  }
  .font-size-custom-32 {
    font-size: 32px 
  }
  .font-size-custom-36 {
    font-size: 36px;
  }
  .font-size-custom-46 {
    font-size: 46px;
  }
  .font-type-italic {
    font-style: italic;
  }
  .line-custom {
    background-image: url(../images/dentistry_disease/line2.png);
    width: 100%;
    height: 7px;
    background-repeat: repeat-x;
  }
  .list-style-none {
    list-style: none ;
  }
  .related-page {
    position: absolute;
    top: 27px;
    padding-left: 362px;
  }
  .w-fit-content {
    width: fit-content;
  }
  .border-bottom-white {
    border-bottom: 1px solid white;
  }
  .h-30p{
    height: 30px;
  }
  .w-40 {
    width: 40%;
  }
  .container-cus {
    width: 900px
  }
  .btn-request-appointment {
    background-color: #86C127;
    border-radius: 50px;
    height: 50px;
    padding: 0px 20px;
    border: 1px solid white;
  }
  .btn-contact-us{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50px;
    width: 50%;
    height: 50px;
  }
  .pt-50{
    padding-top: 50%;
  }
  .pt-50p {
    padding-top: 50px
  }
  .mb-13p {
    margin-bottom: 13px;
  }
  .mb-79p {
    margin-bottom: 79px
  }
  .mb-60p {
    margin-bottom: 60px
  }
  .top-desc {
    min-width: 900px;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
.color-green{
  color: #86C127;
}
.color-lightgray{
  color:lightgray
}
}

body{
  font-family: MontserratRegular;
}