@import "vars";

.dentistry-periodontal-care-scaling-and-root-planing {
    .section-top {
        background-image: url("../images/dentisty_periodontal_care_scaling_and_root_planing/scalingAndRootPlaning-banner1.jpg");
        margin-bottom: 60px;
        border-bottom: 2px solid $color-limeade;
        &-gradient {
            background-color: $color-black;
            opacity: 0.4;
        }
        .page-title {
            font-family: $font-monserrat;
            font-weight: $font-regular;
            text-transform: uppercase;
        }
        &-gradient {
            background-color: black;
            opacity: 0.4;
        }
    }
    .section-body {
        .item1 {
            margin-bottom: 90px;
            .top-title {
                font-family: $font-monserrat;
                font-weight: $font-bold;
                line-height: 45px;
                font-size: 46px;
                @include lt-spacing(20);
                margin-bottom: 35px;
            }
            .top-desc {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                max-width: 900px;
                p {
                    line-height: 28px;
                    font-size: 16px;
                    @include lt-spacing(20);
                    margin-bottom: 60px;
                    &.top-desc-title {
                        font-family: $font-dancing;
                        font-weight: $font-bold;
                        font-size: 48px;
                        color: $color-atlantis;
                        margin-bottom: 18px;
                        line-height: 24px;
                        @include lt-spacing(30);
                    }
                }
            }
        }
        .item2 {
            margin-bottom: 100px;
            .top-title {
                font-family: $font-monserrat;
                font-weight: $font-bold;
                line-height: 50px;
                font-size: 36px;
                @include lt-spacing(20);
                margin-bottom: 30px;
            }
            .top-desc {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                max-width: 900px;
                p {
                    line-height: 28px;
                    font-size: 16px;
                    @include lt-spacing(20);
                    margin-bottom: 45px;
                }
            }
            .content {
                margin: auto 169px;
                .benefit {
                    text-align: center;
                    padding: 30px;
                    background-color: $color-alabaster;
                    border-radius: 15px;
                    max-width: 320px;
                    p {
                        margin: 0;
                    }
                    .icon {
                        width: 100px;
                        height: 100px;
                        border-radius: 100px;
                        background-color: $color-white;
                        margin: auto auto 20px;
                        position: relative;
                        img {
                            position: absolute;
                            margin: auto;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                        }
                    }
                    .icon_benefit_1 {
                        img {
                            width: 57.5px;
                            height: 57.78px;
                        }
                    }
                    .icon_benefit_2 {
                        img {
                            width: 50px;
                            height: 50.1px;
                        }
                    }
                    .icon_benefit_3 {
                        img {
                            width: 57.5px;
                            height: 44.02px;
                            left: 10px;
                        }
                    }
                    .benefit-title {
                        font-size: 22px;
                        margin-bottom: 20px;
                        line-height: 26px;
                        color: $color-tundora;
                        font-family: $font-monserrat;
                        font-weight: $font-medium;
                    }
                    .benefit-description {
                        font-size: 15px;
                        line-height: 26px;
                        color: $color-scorpion;
                        font-family: $font-monserrat;
                        font-weight: $font-regular;
                    }
                }
            }
        }
        .item3 {
            margin: auto 141px 105px;
            text-align: left;
            .item-left {
                padding-right: 30px;
            }
            .item-right {
                padding-left: 30px;
            }
            .top-img {
                margin-bottom: 35px;
            }
            .top-title {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                font-size: 32px;
                line-height: 40px;
                margin-bottom: 25px;
                text-align: left;
            }
            .top-desc {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                p {
                    font-size: 32px;
                    line-height: 40px;
                }
            }
        }
        .item4 {
            background-color: $color-deepCerulean;
            color: $color-white;
            margin-bottom: 90px;
            .content {
                padding: 50px 233px;
            }
            p {
                font-family: $font-dancing;
                font-weight: $font-regular;
                font-size: 32px;
                line-height: 38px;
                @include lt-spacing(20);
                margin: 32px auto 74px;
            }
        }
        .item5 {
            margin-bottom: 90px;
            .background {
                z-index: -1;
                > div {
                    background-color: $color-alabaster;
                }
            }
            .content {
                margin: auto 141px;
                padding: 90px 0 40px;
                .banner {
                    margin-bottom: 52px;
                    .gradient {
                        background-image: linear-gradient(0deg, rgba(0, 35, 65, 0.8) 0%, rgba(0, 128, 128, 0) 100%);
                    }
                    .title {
                        font-family: $font-monserrat;
                        font-weight: $font-bold;
                        font-size: 36px;
                        line-height: 42px;
                        @include lt-spacing(20);
                        margin-left: 92px;
                        bottom: 40px;
                        color: $color-white;
                    }
                }
                .list {
                    margin: auto 92px;
                    .top-title {
                        font-family: $font-monserrat;
                        font-weight: $font-semibold;
                        line-height: 30px;
                        font-size: 26px;
                        @include lt-spacing(20);
                        margin-bottom: 18px;
                        color: $color-lochmara;
                        text-align: left;
                    }
                    .top-desc {
                        font-family: $font-monserrat;
                        font-weight: $font-regular;
                        max-width: 900px;
                        text-align: left;
                        p {
                            line-height: 28px;
                            font-size: 15px;
                            @include lt-spacing(20);
                            margin-bottom: 42px;
                        }
                    }
                }
            }
        }
        .our-team {
            margin: auto 141px 90px;
        }
    }
}

@media (max-width: 767px) {
    .dentistry-periodontal-care-scaling-and-root-planing {
        .section-top {
            background-image: url("../images/dentisty_periodontal_care_scaling_and_root_planing/scalingAndRootPlaning-banner1.jpg");
            margin-bottom: 60px;
            border-bottom: 2px solid $color-limeade;
            &-gradient {
                background-color: $color-black;
                opacity: 0.4;
            }
            .page-title {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                text-transform: uppercase;
            }
            &-gradient {
                background-color: black;
                opacity: 0.4;
            }
        }
        .section-body {
            .item1 {
                margin: auto 20px 90px;
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-bold;
                    line-height: 44px;
                    font-size: 38px;
                    @include lt-spacing(20);
                    margin-bottom: 35px;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    max-width: 900px;
                    p {
                        line-height: 26px;
                        font-size: 14px;
                        @include lt-spacing(20);
                        margin-bottom: 60px;
                        &.top-desc-title {
                            font-family: $font-dancing;
                            font-weight: $font-bold;
                            font-size: 38px;
                            color: $color-atlantis;
                            margin-bottom: 18px;
                            line-height: 48px;
                            @include lt-spacing(30);
                        }
                    }
                }
            }
            .item2 {
                margin: auto 20px 100px;
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-bold;
                    line-height: 40px;
                    font-size: 30px;
                    @include lt-spacing(20);
                    margin-bottom: 30px;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    max-width: 900px;
                    p {
                        line-height: 28px;
                        font-size: 16px;
                        @include lt-spacing(20);
                        margin-bottom: 45px;
                    }
                }
                .content {
                    margin: auto;
                    .benefits {
                        flex-wrap: wrap;
                        .benefit {
                            text-align: center;
                            padding: 30px;
                            background-color: $color-alabaster;
                            border-radius: 15px;
                            max-width: 100%;
                            p {
                                margin: 0;
                            }
                            .icon {
                                width: 100px;
                                height: 100px;
                                border-radius: 100px;
                                background-color: $color-white;
                                margin: auto auto 20px;
                                position: relative;
                                img {
                                    position: absolute;
                                    margin: auto;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                }
                            }
                            .icon_benefit_1 {
                                img {
                                    width: 57.5px;
                                    height: 57.78px;
                                }
                            }
                            .icon_benefit_2 {
                                img {
                                    width: 50px;
                                    height: 50.1px;
                                }
                            }
                            .icon_benefit_3 {
                                img {
                                    width: 57.5px;
                                    height: 44.02px;
                                    left: 10px;
                                }
                            }
                            .benefit-title {
                                font-size: 22px;
                                margin-bottom: 15px;
                                line-height: 45px;
                                color: $color-tundora;
                                font-family: $font-monserrat;
                                font-weight: $font-semibold;
                            }
                            .benefit-description {
                                font-size: 15px;
                                line-height: 26px;
                                color: $color-scorpion;
                                font-family: $font-monserrat;
                                font-weight: $font-regular;
                            }
                        }
                    }
                }
            }
            .item3 {
                margin: auto 20px 105px;
                text-align: left;
                .item-left {
                    padding-right: 15px;
                }
                .item-right {
                    padding-left: 15px;
                }
                .top-img {
                    margin-bottom: 35px;
                }
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 25px;
                    text-align: left;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    p {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            .item4 {
                background-color: $color-deepCerulean;
                color: $color-white;
                margin-bottom: 90px;
                .content {
                    padding: 50px 20px;
                }
                p {
                    font-family: $font-dancing;
                    font-weight: $font-regular;
                    font-size: 32px;
                    line-height: 38px;
                    @include lt-spacing(20);
                    margin: 32px auto 74px;
                }
            }
            .item5 {
                margin-bottom: 90px;
                .background {
                    z-index: -1;
                    > div {
                        background-color: $color-alabaster;
                    }
                }
                .content {
                    margin: auto 20px;
                    .banner {
                        margin-bottom: 52px;
                        .gradient {
                            background-image: linear-gradient(0deg, rgba(0, 35, 65, 0.8) 0%, rgba(0, 128, 128, 0) 100%);
                        }
                        .title {
                            font-family: $font-monserrat;
                            font-weight: $font-bold;
                            font-size: 18px;
                            line-height: 26px;
                            @include lt-spacing(20);
                            margin-left: 10px;
                            bottom: 10px;
                            color: $color-white;
                            text-align: left;
                        }
                    }
                    .list {
                        margin: auto 20px;
                        padding-bottom: 40px;
                        .top-title {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                            line-height: 30px;
                            font-size: 26px;
                            @include lt-spacing(20);
                            margin-bottom: 18px;
                            color: $color-lochmara;
                            text-align: left;
                        }
                        .top-desc {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                            max-width: 900px;
                            text-align: left;
                            p {
                                line-height: 28px;
                                font-size: 15px;
                                @include lt-spacing(20);
                                margin-bottom: 42px;
                            }
                        }
                    }
                }
            }
            .our-team {
                margin: auto 20px 90px;
                .our-team-content {
                    padding: 20px 0;
                    .our-team-desc {
                        p {
                            font-size: 18px;
                        }
                    }
                    .cta-wrapper {
                        .cta-btn-request {
                            font-size: 14px;
                            padding: 10px 40px 10px 20px;
                            background-position: 95% 13px;
                        }
                        .cta-btn-contact {
                            font-size: 14px;
                            padding: 10px 50px 10px 20px;
                            background-position: 90% 13px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
    .dentistry-periodontal-care-scaling-and-root-planing {
        .section-top {
            background-image: url("../images/dentisty_periodontal_care_scaling_and_root_planing/scalingAndRootPlaning-banner1.jpg");
            margin-bottom: 60px;
            border-bottom: 2px solid $color-limeade;
            &-gradient {
                background-color: $color-black;
                opacity: 0.4;
            }
            .page-title {
                font-family: $font-monserrat;
                font-weight: $font-regular;
                text-transform: uppercase;
            }
            &-gradient {
                background-color: black;
                opacity: 0.4;
            }
        }
        .section-body {
            .item1 {
                margin: auto 39px 90px;
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-bold;
                    line-height: 45px;
                    font-size: 46px;
                    @include lt-spacing(20);
                    margin-bottom: 35px;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    max-width: 900px;
                    p {
                        line-height: 28px;
                        font-size: 16px;
                        @include lt-spacing(20);
                        margin-bottom: 60px;
                        &.top-desc-title {
                            font-family: $font-dancing;
                            font-weight: $font-bold;
                            font-size: 48px;
                            color: $color-atlantis;
                            margin-bottom: 18px;
                            line-height: 24px;
                            @include lt-spacing(30);
                        }
                    }
                }
            }
            .item2 {
                margin-bottom: 100px;
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-bold;
                    line-height: 50px;
                    font-size: 36px;
                    @include lt-spacing(20);
                    margin-bottom: 30px;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    max-width: 900px;
                    p {
                        line-height: 28px;
                        font-size: 16px;
                        @include lt-spacing(20);
                        margin-bottom: 45px;
                    }
                }
                .content {
                    margin: auto 39px;
                    .benefits {
                        flex-wrap: wrap;
                        .benefit {
                            text-align: center;
                            padding: 30px;
                            background-color: $color-alabaster;
                            border-radius: 15px;
                            max-width: 100%;
                            p {
                                margin: 0;
                            }
                            .icon {
                                width: 100px;
                                height: 100px;
                                border-radius: 100px;
                                background-color: $color-white;
                                margin: auto auto 20px;
                                position: relative;
                                img {
                                    position: absolute;
                                    margin: auto;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                }
                            }
                            .icon_benefit_1 {
                                img {
                                    width: 57.5px;
                                    height: 57.78px;
                                }
                            }
                            .icon_benefit_2 {
                                img {
                                    width: 50px;
                                    height: 50.1px;
                                }
                            }
                            .icon_benefit_3 {
                                img {
                                    width: 57.5px;
                                    height: 44.02px;
                                    left: 10px;
                                }
                            }
                            .benefit-title {
                                font-size: 22px;
                                margin-bottom: 15px;
                                line-height: 45px;
                                color: $color-tundora;
                                font-family: $font-monserrat;
                                font-weight: $font-semibold;
                            }
                            .benefit-description {
                                font-size: 15px;
                                line-height: 26px;
                                color: $color-scorpion;
                                font-family: $font-monserrat;
                                font-weight: $font-regular;
                            }
                        }
                    }
                }
            }
            .item3 {
                margin: auto 39px 105px;
                text-align: left;
                .item-left {
                    padding-right: 30px;
                }
                .item-right {
                    padding-left: 30px;
                }
                .top-img {
                    margin-bottom: 35px;
                }
                .top-title {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    font-size: 32px;
                    line-height: 40px;
                    margin-bottom: 25px;
                    text-align: left;
                }
                .top-desc {
                    font-family: $font-monserrat;
                    font-weight: $font-regular;
                    p {
                        font-size: 32px;
                        line-height: 40px;
                    }
                }
            }
            .item4 {
                background-color: $color-deepCerulean;
                color: $color-white;
                margin-bottom: 90px;
                .content {
                    padding: 50px 39px;
                }
                p {
                    font-family: $font-dancing;
                    font-weight: $font-regular;
                    font-size: 32px;
                    line-height: 38px;
                    @include lt-spacing(20);
                    margin: 32px auto 74px;
                }
            }
            .item5 {
                margin-bottom: 90px;
                .background {
                    z-index: -1;
                    > div {
                        background-color: $color-alabaster;
                    }
                }
                .content {
                    margin: auto 39px;
                    padding: 90px 0 40px;
                    .banner {
                        margin-bottom: 52px;
                        .gradient {
                            background-image: linear-gradient(0deg, rgba(0, 35, 65, 0.8) 0%, rgba(0, 128, 128, 0) 100%);
                        }
                        .title {
                            font-family: $font-monserrat;
                            font-weight: $font-bold;
                            font-size: 36px;
                            line-height: 42px;
                            @include lt-spacing(20);
                            margin-left: 20px;
                            bottom: 40px;
                            color: $color-white;
                        }
                    }
                    .list {
                        margin: auto 20px;
                        .top-title {
                            font-family: $font-monserrat;
                            font-weight: $font-semibold;
                            line-height: 30px;
                            font-size: 26px;
                            @include lt-spacing(20);
                            margin-bottom: 18px;
                            color: $color-lochmara;
                            text-align: left;
                        }
                        .top-desc {
                            font-family: $font-monserrat;
                            font-weight: $font-regular;
                            max-width: 900px;
                            text-align: left;
                            p {
                                line-height: 28px;
                                font-size: 15px;
                                @include lt-spacing(20);
                                margin-bottom: 42px;
                            }
                        }
                    }
                }
            }
            .our-team {
                margin: auto 39px 90px;
            }
        }
    }
}
