.financing {
	.section-top {
		background-image: url('../images/financing/financing-bg.png');
		margin-bottom: 60px;
	}
	.top-title {
		margin-bottom: 30px;
	}
	.text-medium-financing {
		margin-top: 20px;
		margin-bottom: 30px;
		text-align: center;
		padding: 0 90px;
		p {
			font-size: 32px;
			@include lt-spacing(20);
			line-height: 38px;
	    	text-align: center;
	    	font-family: $font-dancing;
	    	margin: 0;
	    	color: $color-scorpion;
	    	margin-bottom: 20px;
		}
		img {
			margin: 0 auto;
		}
	}
	.financing-about {
		padding-top: 80px;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 100px;
		.about-img {
			width: 49%;
			margin-right: 20px;
		}
		.about-content {
			width: 51%;
			margin-left: 20px;
		}
		.text-content {
			margin-bottom: 30px;
			h1 {
				font-family: $font-semibold;
				font-size: 36px;
				line-height: 44px;
				@include lt-spacing(0);
				color : $color-tundora;
				margin-bottom: 20px;
			}
			p {
				font-family: $font-normal;
				font-size: 16px;
				line-height: 28px;
				@include lt-spacing(20);
				color: $color-scorpion;
				margin: 0 0 20px;
			}
		}
	}
	.cta-btn-apply {
		margin-top: 10px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {}

@media (max-width: 767px) {
	.financing {
		.section-top {
			margin-bottom: 40px;
		}
		.text-medium-financing {
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 0;
		}
		.financing-about {
			padding-top: 30px;
			flex-wrap: wrap;
			margin-bottom: 40px;
			.about-img {
				width: 100%;
				margin-right: 0;
				margin-bottom: 30px;
				text-align: center;
			}
			.about-content {
				width: 100%;
				margin-left: 0;
			}
			.text-content {
				margin-bottom: 0;
				h1 {
					font-size: 32px;
				}
			}
			.text-small {
				background-size: 5px 260px;
			}
		}
	}
}