.gallery {
	.section-top {
		background-image: url('../images/gallery_top_bg.jpg');
		margin-bottom: 60px;
	}
	.smile-gallery {
		display: grid;
		grid-gap: 20px;
		justify-content: center;
    	grid-template-columns: 256px 256px 256px 256px;
    	margin-bottom: 70px;
		.smile-item {
			position: relative;
			width: 256px;
		}
		.smile-item-desc {
			position: absolute;
			bottom: 0;
			left: 0;
    		right: 0;
			font-size: 20px;
			line-height: 53px;
			font-family: $font-medium;
			@include lt-spacing(0);
			color: $color-white;
			text-align: center;
		}
		.ct-lh {
			line-height: 24px;
			padding: 0 40px;
		}
	}
	.gallery-heading {
		font-size: 38px;
		line-height: 53px;
		opacity: 0.9;
		color: $color-limeade;
		text-align: center;
		font-family: $font-dancing;
		margin-bottom: 20px;
	}
	.before-after-gallery {
		display: grid;
		grid-column-gap: 20px;
		justify-content: center;
    	grid-template-columns: 300px 300px 300px;
    	margin-bottom: 20px;
		.before-after-item {
			width: 300px;
			position: relative;
			.img-responsive {
				transition: ease 500ms;
				margin-bottom: 26px;
			}
			&:hover {
				&:after{
					content: "+";
					width: 40px;
					height: 40px;
					position: absolute;
					top: 39%;
					left: 50%;
					transform: translate(-50%,-50%);
					background: $color-lochmara;
					border-radius: 50%;
					font-size: 42px;
				    color: $color-white;
				    display: flex;
				    justify-content: center;
				    align-items: center;
				    font-family: $font-light;
				}
				.img-responsive {
					opacity: 0.7;
				}
			}
		}
		.before-after-desc {
			font-size: 15px;
			line-height: 24px;
			@include lt-spacing(20);
			color: $color-emperor;
			text-align: center;
			margin: 0;
		}
	}
	.slide-paging {
		text-align: center;
		margin: 0 0 30px;
		padding: 0;
		li {
			display: inline-block;
			background: $color-silver;
			opacity: 0.7;
			transition: ease 500ms;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			cursor: pointer;
			margin-left: 20px;
			&:hover {
				background: $color-atlantis;
				opacity: 1;
			}
		}
		.active {
			background: $color-atlantis;
			opacity: 1;
		}
	}
	.line {
		max-width: 942px;
		margin: 0 auto 30px;
	}
	.before-after-slide-container:last-child {
		margin-bottom: 90px;
	}
}

@media (max-width: 1023px) and (min-width: 768px) {
	.gallery {
		.smile-gallery {
			grid-gap: 30px;
	    	grid-template-columns: 256px 256px;
	    }
	    .before-after-gallery {
	    	grid-template-columns: 300px 300px;
	    	grid-column-gap: 30px;
	    	grid-row-gap: 30px;
	    }
	}
}

@media (max-width: 767px) {
	.gallery {
		.section-top {
			margin-bottom: 40px;
		}
		.smile-gallery {
			grid-gap: 30px;
	    	grid-template-columns: 256px;
	    }
	    .before-after-gallery {
	    	grid-template-columns: 300px;
	    	grid-column-gap: 30px;
	    	grid-row-gap: 30px;
	    }
	}
}