.new_patient_form {
	.section-top {
		background-image: url('../images/new_patient_froms.png');
		margin-bottom: 60px;
	}
	button{
		    border: #86C127;
	}
	.text-line{
		font-family: $font-dancingbold;
		font-size: 42px;
		line-height: 45px;
		background: $color-white;
		color: $color-tundora;
		display: inline-block;
	    margin: 0 auto;
	    padding: 0px 28px;
	}
	.line {
		margin-top: -25px;
	}
	.mb-5 {
		text-align: center;
	}
	.body-title{
		font-size: 22px;
		font-family: $font-medium;
		line-height: 28px;
		color: $color-tundora;
	}
	.body-title2{
		font-size: 15px;
		line-height: 24px;
		color: $color-scorpion;
		margin-bottom: 24px;
	}
	.mb-100{
		margin-bottom: 100px;
	}
	.btn-download{
		padding: 10px 20px;
		border-radius: 25px;
		background: #86C127;
		color: white;
	}
	.montserrat {
		font-family: $font-normal;
	}

}

@media (max-width: 1023px) and (min-width: 768px) {
	.new_patient_form {
		.smile-insurance {
			grid-gap: 30px;
			grid-template-columns: 256px 256px;
		}
		.before-after-insurance {
			grid-template-columns: 300px 300px;
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}

	}
}
@media (max-width: 1199px) and (min-width: 1024px) {
	.new_patient_form {
		.smile-insurance {
			grid-gap: 30px;
			grid-template-columns: 256px 256px;
		}
		.before-after-insurance {
			grid-template-columns: 300px 300px;
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}
		.text-line
		{
		font-weight: bold;
		font-size: 42px;
		background: white;
		text-align: center;
		margin-top: -30px;
		position: absolute;
		/* top: -19px; */
		margin-left: 100px;
			position:relative;
		}
	}
}
@media (max-width: 1439px)and (min-width: 1360px) {
	.new_patient_form {
		.smile-insurance {
			grid-gap: 30px;
			grid-template-columns: 256px 256px;
		}
		.before-after-insurance {
			grid-template-columns: 300px 300px;
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}
		.text-line
		{
		font-weight: bold;
		font-size: 42px;
		background: white;
		text-align: center;
		margin-top: -30px;
		position: absolute;
			position:relative;
		/* top: -19px; */
		margin-left: 192px;
		}
	}
}
@media (max-width: 767px) {
	.new_patient_form {
		
		.section-top {
			margin-bottom: 40px;
		}
		.smile-insurance {
			grid-gap: 30px;
			grid-template-columns: 256px;
		}
		.before-after-insurance {
			grid-template-columns: 300px;
			grid-column-gap: 30px;
			grid-row-gap: 30px;
		}
		.text-line
		{
		font-weight: bold;
		font-size: 42px;
		background: white;
		text-align: center;
		margin-top: -30px;
		position: absolute;
		/* top: -19px; */
		margin-left: 0px;
			position:relative;
		}
	}
}