.dentistry {
  p{
    margin: 0;
  }
  .color-blue{
    margin: 0 19px -6px 0;
    width: 256px;
    height: 170.5px;
    background-color: $color-lochmara;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .section-top {
    background-image: url('../images/dentistry/dentistry1.png');
    margin-bottom: 60px;
    border-bottom: 2px solid $color-limeade;

  }
  .container{
    .top-title{
      font-weight: $font-bold;
      margin: 0;
    }
    .top-desc{
      max-width: 900px;
      margin: 30px auto 50px auto;
    }
    .benefit{
      text-align: center;
      padding: 0;
      p{
        margin: 0;
      }
      .icon{
        width: 100px;
        height: 100px;
 
        border-radius: 100px;
        margin: 0 auto;
        position: relative;
        img{
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      .icon_benefit_1{
        img{
          width: 57.5px;
          height: 57.78px;
        }
      }
      .icon_benefit_2{
        img {
          width: 50px;
          height: 50.1px;
        }
        .title{
          font-size: 30px;
          margin: 10px 0;
          font-family: $font-dancing;
          font-weight:$font-regular;
        }
      }
      .icon_benefit_3{
        img{
          width: 57.5px;
          height: 44.02px;
        }
      }
      .title{
        font-size: 30px;
        margin: 10px 0;
        font-family: $font-dancing;
        font-weight:$font-bold
      }
      .description {
        font-size: 15px;
        max-width: 310px;
        margin: 0 auto;
        @include lt-spacing(20);
        line-height: 22px;
        color: $color-scorpion;
      }
    }
    .list-cards{
      margin: 81px 0 21px 0;
      .cards{
        margin-bottom: 80px;
        .card-image{
          max-width: 100%;
          height: auto;
          position: relative;
          img{
            max-width: 100%;
            height: auto;
          }
        }
        .card-title{
          font-size: 28px;
          font-weight: $font-bold;
          @include lt-spacing(20);
          margin: 26px 0 14px 0;
          @include lt-spacing(20);
        }
        .card-description{
          font-size: 15px;
          @include lt-spacing(20);
          max-width: 506px;
          line-height: 25px;
          margin-bottom: 30px;
        }
        .card-button{
          .button{
            height: 50px;
            width: 200px;
            padding: 0;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px){
  .card-image{
    .color-blue{
      margin: 0 -6px -6px 0;
    }
  }
}

@media (max-width: 768px) {
  .benefit{
    margin-top: 30px;
  }

}