.dentistry {
  p{
    margin: 0;
  }
  .color-blue{
    margin: 0 19px -6px 0;
    width: 256px;
    height: 170.5px;
    background-color: $color-lochmara;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  .section-top {
    background-image: url('../images/dentistry/dentistry1.png');
    margin-bottom: 60px;
    border-bottom: 2px solid $color-limeade;

  }
  .container{
    .top-title{
      font-weight: $font-bold;
      margin: 0;
    }
    .top-desc{
      max-width: 900px;
      margin: 30px auto 50px auto;
    }
    .list-cards{
      margin: 81px 0 21px 0;
      .cards{
        margin-bottom: 80px;
        .card-image{
          max-width: 100%;
          height: auto;
          position: relative;
          img{
            max-width: 100%;
            height: auto;
          }
        }
        .card-title{
          font-size: 28px;
          font-weight: $font-bold;
          @include lt-spacing(20);
          margin: 26px 0 14px 0;
          @include lt-spacing(20);
        }
        .card-description{
          font-size: 15px;
          @include lt-spacing(20);
          max-width: 506px;
          line-height: 25px;
          margin-bottom: 30px;
        }
        .card-button{
          .button{
            height: 50px;
            width: 200px;
            padding: 0;
            font-size: 15px;
          }
        }
      }
    }
  }
}
@media (max-width: 1199px){
  .card-image{
    .color-blue{
      margin: 0 -6px -6px 0;
    }
  }
}

@media (max-width: 768px) {
  .benefit{
    margin-top: 30px;
  }

}