$font-monserrat: "Montserrat";
$font-dancing: "Dancing Script";
$font-extrbold: 800;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-normal: 400;
$font-regular: 400;
$font-light: 300;
$font-dancingbold: 'DancingScriptBold';

$color-gray: rgb(237,246,222);
$color-scorpion: #606060;
$color-emperor: #555555;
$color-white: #ffffff;
$color-tundora: #444444;
$color-limeade: #6cac04;
$color-lochmara: #008cd4;
$color-silver: #cbcbcb;
$color-atlantis: #86c127;
$color-midnight: rgba(0, 35, 65, 0.3);

