
$font-monserrat: 'Montserrat';
$font-dancing: 'Dancing Script';
$font-normal: 400;
$font-semibold : 600;
$font-bold : 700;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;

$font-dancingbold: 'DancingScriptBold';

$color-scorpion: #606060;
$color-emperor: #555555;
$color-white: #FFFFFF;
$color-tundora: #444444;
$color-limeade: #6CAC04;
$color-lochmara: #008CD4;
$color-silver: #CBCBCB;
$color-atlantis: #86C127;
$color-midnight: rgba(0,35,65,0.3);
$color-gray:rgb(237,246,222);