$font-normal: 'MontserratRegular';
$font-medium: 'MontserratMedium';
$font-light: 'MontserratLight';
$font-semibold: 'MontserratSemiBold';
$font-bold: 'MontserratBold';
$font-dancing: 'DancingScriptRegular';
$font-dancingbold: 'DancingScriptBold';
$color-scorpion: #606060;
$color-emperor: #555555;
$color-white: #FFFFFF;
$color-tundora: #444444;
$color-limeade: #6CAC04;
$color-lochmara: #008CD4;
$color-silver: #CBCBCB;
$color-atlantis: #86C127;