
.color-green{
    color: #86C127;
}
.color-blue{
    color: #008CD4; 
}
.color-white{
    color: white; 
}
.text-underline{
    text-decoration: underline;
}
.font-medium{
    font-weight: 500;
}
.font-bold{
    font-weight: 700;
    color: #444444;
}
.font-semibold{
    font-weight: 600;
}
.bg-green{
    background: #86C127 !important;
}
.hidden{
    display: none !important;
}
body.page-template{
    font-family: 'Montserrat';
    font-size: 14px;
    color: #404040;
    line-height: 1.6;
    overflow-x: hidden;
    font-weight: 400;
    letter-spacing: 0;
}
.section-header{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    z-index: 1001;
    padding: 0;
    background: #fff;
    
}
.section-header.scrolled{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); 
}
.section-header .header-top{
    background: #F7F7F7;
    padding: 0;
}
.section-header .content-header{
    width: 98%;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 15px;
}
.section-header .header-top .header-social{
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 13px;
    color: #888888;
}
.section-header .header-top .header-social a:hover{
    text-decoration: unset;
}
.section-header .header-top .header-social img{
    transition: all 0.7s ease-in-out;
}
.section-header .header-top .header-social img:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.section-header .header-top .header-info{
    text-align: right;
}
.section-header .header-top .header-info div{
    float: right;
    height: 42px;
}
.section-header .header-top .header-info div:nth-child(1){
    background: #008CD4;
    color: #fff;
    padding: 10px 15px;
    font-size: 14px;
    text-transform: uppercase;
}
.section-header .header-top .header-info div:nth-child(2){
    background: rgba(134, 193, 39, 0.2);
    padding: 10px 15px;
    color: #6CAC04;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 17px;
}
.section-header .header-top .header-info div:nth-child(3){
    font-size: 14px;
    padding: 10px 15px;
}
.section-header .header-top .header-info div:nth-child(3) img{
    width: 25px;
}
.section-header .header-menu{
    padding: 12px 0;
}
.section-header .header-menu .img-logo{
    width: 360px;

}
.section-header .header-menu .grid-menu{
    width: calc(100% - 360px);
}
.section-header .header-menu .grid-menu .navbar-expand-sm{
    padding: 5px 0;
}
.section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-link {
    padding: 15px 20px;
    color: #444444;
    font-size: 16px;
}
.section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-link:hover,
.section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-item.active a {
    color: #008CD4;
    position: relative;
}.section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-item:hover .nav-link:after,
.section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-item.active .nav-link:after{
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background: #008CD4;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 10px;
}

.section-header .header-menu .grid-menu .dropdown:hover .dropdown-menu{
    display: block;
    top: 90%;
    padding: 10px 0; 
    min-width: 250px;
    left: -15px;
    border: 0;
    border-top: 3px solid #6CAC04;
    border-radius: 0;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
}
.section-header .header-menu .grid-menu .dropdown-toggle::after{
    display: none !important;
}
.section-header .header-menu .grid-menu .dropdown-item{
    padding: 10px 15px
    ;border-bottom: 2px solid #fff;
    font-size: 15px;
    transition: .7s ease; 
    color: #2d2d2d!important; 
}
.section-footer .footer-top{
    padding: 50px 0 0;
    background: url(../images/home/bg-blue.png);
    background-size: cover;
}
.section-footer .footer-top .title{
    font-size: 48px;
    font-family: 'Dancing Script';
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
.section-footer .footer-center{
    padding: 50px 0 80px;
}
.section-footer .footer-center .item{
    margin: 20px 0;
    text-align: center;
}
.section-footer .footer-center .item .descript{
    max-width: 220px;
    margin: 0 auto;
}
.section-footer .footer-center .item .title{
    font-family: 'Montserrat';
    font-size: 18px;
    color: #0072AD;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 600;
}
.section-footer .footer-center .item .text{
    color:#808080;
    margin-bottom: 2px;
}
.section-footer .footer-center .item .text-2{
    color:#404040;
    font-size: 15px;
    margin-bottom: 10px;
}
.section-footer .footer-center .item .descript-2{
    max-width: 320px;
    margin: 0 auto;
}
.section-footer .footer-center .item .form-group{
    margin-bottom: 25px;
}
.section-footer .footer-center .item .form-control{
    background: #E4E4E4;
    height: 46px;
    border:2px solid #E4E4E4;
    font-size: 15px;
    border-radius: 10px;
}
.section-footer .footer-center .item .btn-continue{
    background: transparent;
    border:2px solid #008CD4;
    border-radius: 25px;
    padding: 12px 30px;
    color: #008CD4;
    text-transform: uppercase;
    font-size: 15px;
    font-family: 'Montserrat';
    font-weight: 500;
}
.section-footer .footer-bottom{
    padding: 30px 0px ;
    background: #F7F7F7;
    text-align: center;
    color: #868B91;
    font-size: 15px;
}
.section-footer .footer-bottom div:first-child{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 8px;
}
.section-footer .footer-bottom div:last-child{
    color:#303030
}

.main-content .section-banner{
    padding: 30px 0 80px;
    background: linear-gradient(to bottom, #fff,  rgba(0, 140, 212, 0.05));
    position: relative;
}
.main-content .section-banner .content-banner{
    width: 95%;
    margin: 0 auto;
    max-width: 1400px;
}
.main-content .section-banner .content-banner .video{
    position: relative;
}
.main-content .section-banner .content-banner .video .img-video{
    width: 100%;
}
.main-content .section-banner .content-banner .video .icon-play{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 170px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
}
.main-content .section-banner .content-banner .video .img-girl{
    position: absolute;
    width: 270px;
    left: -80px;
    bottom: -80px;
}

.main-content .section-banner .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main-content .section-banner .container .content-text{
    width: 40%;
    max-width: 430px;
}
.main-content .section-banner .container .content-text .title{
    font-size: 46px;
    font-family: 'Montserrat';
    font-weight: 600;
    line-height: 1.2;
    color: #303030;
}
.main-content .section-banner .container .content-text .descript{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat';
    margin: 30px 0;
    max-width: 410px;
    font-weight: 300;
}
.main-content  .btn-request,.section-footer .btn-request{
    background: #008CD4;
    border:2px solid #008CD4;
    border-radius: 25px;
    padding: 12px 25px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.16);
}
.main-content  .btn-request img,.section-footer  .btn-request img{
    width: 20px !important;
    display: inline-block !important;
}
.main-content  .btn-request.border-white{
    border: 1px solid #fff;
}
.main-content  .btn-request:hover,
.main-content  .btn-contact:hover{
   opacity: .8;
}
.main-content  .btn-contact{
    background: transparent;
    border:2px solid #008CD4;
    border-radius: 25px;
    padding: 12px 25px;
    color: #008CD4;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 500;
    margin-top: 20px;
}

.main-content .section-about{
    padding: 50px 0;
}
.main-content .section-about .item{
    margin: 20px 0;
}
.main-content .section-about .item .img-about{
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    border: 15px solid #F7F7F7;
}
.main-content .section-about .title{
    font-size: 58px;
    font-family: 'Dancing Script';
    font-weight: 700;
    color: #86C127;
    line-height: 1;
    margin-top:50px;
}
.main-content .section-about .title-2{
    font-family: 'Montserrat';
    font-size: 42px;
    color: #444444;
    font-weight: 700;
}
.main-content .section-about .descript{
    font-size: 17px;
    color: #606060;
    line-height: 1.8;
    margin: 15px 0 30px;
}

.main-content .section-smiles{
    padding: 0 0 60px;
}
.main-content .section-smiles .title{
    font-size: 44px;
    font-family: 'Dancing Script';
    font-weight: 400;
    color: #008CD4;
    text-align: center;
    margin-bottom: 20px;
}
.main-content .section-smiles .owl-carousel .item-img{
    border: 8px solid #F7F7F7;
    margin-left: -4px;
    margin-right: -4px;
}
.main-content .section-smiles .owl-carousel .item-img .before,
.main-content .section-smiles .owl-carousel .item-img .after{
    position: relative;
}
.main-content .section-smiles .owl-carousel .item-img .before .text{
    position: absolute;
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    top: 10px;
    left: 10px;
    z-index: 2;
}
.main-content .section-smiles .owl-carousel .item-img .after .text{
    position: absolute;
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    bottom: 10px;
    right: 10px;
    z-index: 2;
}
.main-content .section-smiles .owl-carousel .item-img .line{
    margin-top: -5px;
    margin-bottom: -5px;
    position: relative;
    z-index: 1;
}
.main-content .section-smiles .owl-carousel .owl-dots{
    margin-top: 30px !important;
}
.main-content .section-smiles .owl-carousel .owl-dots .owl-dot span{
    width: 12px;
    height: 12px;
    margin: 5px 10px;
}
.main-content .section-smiles .owl-carousel .owl-dots .owl-dot.active span,
.main-content .section-smiles .owl-carousel .owl-dots .owl-dot:hover span{
    background: #008CD4;
}
.main-content .section-feedback{
    padding: 70px 0;
    background: url('../images/home/bg-green.png');
    background-repeat: no-repeat;
    background-size: 30%;
    background-color: #F7F7F7;
    position: relative;
}
.main-content .section-feedback .icon{
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main-content .section-feedback .item-left{
    width: 235px;
    padding: 0 15px;
}
.main-content .section-feedback .item-right{
    width: calc(100% - 235px);
    padding: 0 15px;
    padding-left: 80px;
}
.main-content .section-feedback .item-left .item{
    background: #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    min-height: 140px;
}

.main-content .section-feedback .item-left .item .text{
    font-size:15px;
    color: #444444;
    font-family: 'Montserrat';
    font-weight: 500;
}
.main-content .section-feedback .item-left .item .text span{
    color: #86C127;
    font-family: 'Montserrat';
    font-weight: 700;
}
.main-content .section-feedback .item-left .item .logo{
    margin: 6px 0 12px;
}

.main-content .section-feedback .item-right .title{
    margin-bottom:30px;
    line-height: 1;
    margin-top: -10px;
}
.main-content .section-feedback .item-right .list-fb{
    height: 565px;
    overflow: auto;
    padding-right: 50px;
}
.main-content .section-feedback .item-right .list-fb::-webkit-scrollbar {
    width: 6px;
}
.main-content .section-feedback .item-right .list-fb::-webkit-scrollbar-track {
    background: #C3C3C3; 
    border-radius: 10px;
}
.main-content .section-feedback .item-right .list-fb::-webkit-scrollbar-thumb {
    background: #008CD4; 
    border-radius: 10px;
}
.main-content .section-feedback .item-right .list-fb::-webkit-scrollbar-thumb:hover {
    background: #008CD4; 
}
.main-content .section-feedback .item-right .item{
    margin-bottom: 45px;
}
.main-content .section-feedback .item-right .item .text{
    font-size: 16px;
    line-height: 1.7;
    position: relative;
    margin-bottom: 10px;
}
.main-content .section-feedback .item-right .item .ic-note{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
}
.main-content .section-feedback .item-right .item .info-cus{
    margin-top: 20px;
}
.main-content .section-feedback .item-right .item .info-cus .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.main-content .section-feedback .item-right .item .info-cus .detail{
    width: calc(100% - 50px);
    padding-left: 15px;
    float: left;
}
.main-content .section-feedback .item-right .item .info-cus .detail div:first-child{
    font-size: 16px;
    color:#555555;
    font-family: 'Montserrat';
    font-weight: 500;
}
.main-content .section-feedback .item-right .item .info-cus .detail div:last-child{
    color: #868686;
}
.main-content .section-visit-us{
    padding: 70px 0;
    background: url('../images/home/bg-branch.png');
    background-size: cover;
    position: relative;
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-content .section-visit-us:after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 114, 173, 0.65);
}
.main-content .section-visit-us .content-visit-us{
    position: relative;
    z-index: 1;
    text-align: center;
    color: #fff;
}
.main-content .section-visit-us .title{
    text-align: center;
    font-size: 44px;
    font-family: 'Dancing Script';
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1;
}
.main-content .section-visit-us .lines{
    margin: 30px 0;
}
.main-content .section-visit-us .descript{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 26px;
    margin: 0 0 30px;
}
.main-content .section-why{
    padding: 70px 0;
}
.main-content .section-why .title,
.main-content .section-service .title{
    text-align: center;
    line-height: 1;
}
.main-content .section-why .title span:first-child,
.main-content .section-service .title span:first-child,
.main-content .section-feedback .title span:first-child{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 44px;
    color: #444444;
}
.main-content .section-why .title span:last-child,
.main-content .section-service .title span:last-child,
.main-content .section-feedback .title span:last-child{
    font-family: 'Dancing Script';
    font-weight: 700;
    color: #86C127;
    font-size: 58px;
}
.main-content .section-why .descript{
    font-size: 16px;
    color: #606060;
    max-width: 830px;
    margin: 20px auto;
    text-align: center;
}
.main-content .section-why .row{
    margin-left: -10px;
    margin-right: -10px;
}
.main-content .section-why .item{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
}
.main-content .section-why .item .img-item{
    overflow: hidden;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}
.main-content .section-why .item .img-item img{
    transition: all 0.7s ease-in-out;
}
.main-content .section-why .item .img-item:hover img{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.main-content .section-why .item .icon-item{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:3px solid #fff;
    background: #EDF6DE;
    margin: 0 auto;
    margin-top: -40px;
    padding: 15px;
    position: relative;
    z-index: 1;
}
.main-content .section-why .item .content-item{
    margin-top: 15px;
    text-align: center;
}
.main-content .section-why .item .content-item .name{
    font-family: 'Montserrat';
    font-size: 22px;
    color: #444444;
    margin-bottom: 10px;
    font-weight: 700;
}
.main-content .section-why .item .content-item .text{
    font-size: 16px;
    color: #606060;
    line-height: 1.6;
    max-width: 310px;
    margin: 0 auto;
}
.main-content .section-service{
    padding:0 0 100px;
}
.main-content .section-service .list-service{
    width: 95%;
    margin: 50px auto 40px;
    padding: 0 10px;
}
.main-content .section-service .item{
    padding: 5px;
    width: 25%;
}
.main-content .section-service  .item .content{
    position: relative;
    padding-bottom: calc(100% * 2.4 / 3);
    overflow: hidden;
    cursor: pointer;
}

.main-content .section-service  .item .content img{
    height: 100%;
    width: auto;
    max-width: unset;
    cursor: pointer; 
    position: absolute;
    left: -50%; 
    right: -50%;
    margin-left: auto;
    margin-right: auto;
}
.main-content .section-service  .item .content:after {
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    background: linear-gradient( to bottom,
     rgba(0, 35, 65, 0) 0, 
     rgba(0, 35, 65, 0.6) 60%, 
     rgba(0, 35, 65, 0.8) 80% );
    top: 0;
    transition: all 0.5s ease 0s;
}
.main-content .section-service .item:hover .content:after{
    background: linear-gradient( to bottom, rgba(0, 35, 65, 0) 0,
    rgba(0, 35, 65, 0.3) 30%,
    rgba(0, 35, 65, 0.5) 50%, 
    rgba(0, 35, 65, 0.7) 70%, 
    rgba(0, 35, 65, 0.9) 90% );
}
.main-content .section-service .item .content .content-text{
    width: 100%;
    position: absolute;
    left: 0;
    padding: 30px ;
    z-index: 1;
    text-align: center;
    bottom: 0;
}
.main-content .section-service .item .content .content-text .name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    margin-bottom: 5px;
}
.main-content .section-service .item .content .content-text .text{
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 22px;
    color: #A0D943;
    max-width: 220px;
    margin: 0 auto;
    line-height: 1.4;
}
.main-content .section-service .item .content .content-text .text-detail{
    color: #fff;
    cursor: pointer;
    opacity: 0;
    position: relative;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0);
    transition: all 0.6s cubic-bezier(0, 0, 0.58, 1) 0s;
    border-bottom: 2px solid #6CAC04;
    width: 110px;
    margin: 0 auto;
}
.main-content .section-service .item .name,
.main-content .section-service .item .text{
    transform: translateY(15px);
    transition: all 0.4s cubic-bezier(0.13, 0.62, 0.81, 0.91) 0s;
}
.main-content .section-service .item:hover .name, 
.main-content .section-service .item:hover .text {
    transform: translateY(-20px);
}
.main-content .section-service .item:hover .text-detail{
    opacity: 1 !important;
    transform: perspective(500px) rotateX() rotateY(-20px) rotateZ(0) !important;
}

.main-content .section-introduce{
    padding: 70px 0;
    background: url(../images/home/bg-blue.png);
    background-size: cover;
    margin-bottom: 80px;
}
.main-content .section-introduce .owl-carousel .owl-stage-outer{
    overflow: inherit;
}
.main-content .section-introduce .item{
    display: flex;
    color: #ffffff;
    font-size: 17px;
}
.main-content .section-introduce .item .img-doctor{
    width: 450px;
    height: 450px;
    margin-top: -110px;
    position: relative;z-index: 1;
}
.main-content .section-introduce .item .content-doctor{
    width: calc(100% - 450px);
    padding-left: 80px;
}
.main-content .section-introduce .item .content-doctor .name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 44px;
}
.main-content .section-introduce .item .content-doctor .text{
    max-width: 500px;
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-content .section-introduce .item .btn{
    background: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16);
}
.main-content .section-introduce .item .btn:hover{
    color: #fff;
    opacity: .8;
}
.main-content .section-introduce .container{
    position: relative;
}
.main-content .section-introduce .next{
    position:absolute; 
    top:35%;
    left: 480px;
    width:20px;
    cursor: pointer; 
    z-index: 2
}
.main-content .section-introduce .prev{
    position:absolute; 
    top:35%;
    left: -30px;
    width:20px;
    cursor: pointer; 
    z-index: 2
}


.main-content .section-technology{
    padding: 0;
    margin-bottom: 50px;
}
.main-content .section-technology .content{
    display: flex;
    border-radius: 6px;
    border-bottom: 4px solid #6CAC04;
    margin-bottom: 50px;
}
.main-content .section-technology .content .img{
    padding-left: 0;
    padding-right: 0;
}
.main-content .section-technology .content .text{
    width: calc(50% + 120px);
    max-width: calc(50% + 120px);
    flex: auto;
    padding:  30px 0 30px 100px;
    margin-left: -120px;
    position: relative;
    z-index: 1;
    background: url(../images/home/bg-color.png);
    background-size: cover;
}
.main-content .section-technology .content h3{
    font-size: 34px;
    font-family: 'Montserrat';
    color: #444444;
    font-weight: 700;
}

.main-content .section-technology .content .descript{
    max-width: 420px;
    font-size: 15px;
    margin:20px 0;
    color: #606060;
    line-height: 1.6;
}
.main-content .section-technology .content ul{
    margin: 0;
    padding: 0 15px;
}
.main-content .section-technology .content ul li{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #008CD4;
    margin-bottom: 10px;
    position: relative;
    list-style: none;
    padding-left: 10px;
}

.main-content .section-technology .content ul li:before {
    content: "";
    position: absolute;
    left: -12px;
    top: 8px;
    width: 10px;
    height: 10px;
    background-color: #008CD4;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    
}

.main-content .section-technology .content .see-more{
    text-transform: uppercase;
    color: #86C127;
    font-family: 'Montserrat';
    font-size: 15px;
    text-decoration: underline;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 500;
}
.main-content .section-technology hr,
.main-content .section-benefit hr{
    margin-bottom: 5px;
    margin-top: 5px;
}
.main-content .section-benefit{
    padding: 0;
}
.main-content .section-benefit .item{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}
.main-content .section-benefit .item img{
    width: 100%;
    max-width: unset;
}
.main-content .section-benefit .item:after {
    width: 100%;
    position: absolute;
    left: 0;
    content: "";
    height: 100%;
    background: linear-gradient( to bottom, rgba(0, 35, 65, 0) 0, rgba(0, 35, 65, 0.6) 80%, rgba(0, 35, 65, 0.8) 100%);
    top: 0;
    transition: all 0.5s ease 0s;
}
.main-content .section-benefit .item:hover:after{
    background: linear-gradient( to bottom, rgba(0, 35, 65, 0) 0, rgba(0, 35, 65, 0.8) 80%, rgba(0, 35, 65, 1) 100%);
}
.main-content .section-benefit hr:nth-child(2){
    margin-top: 50px;
}

.main-content .section-benefit .item .content{
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color:#fff;
}
.main-content .section-benefit .item .content .name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 34px;
    position: relative;
    line-height: 1.4;
}
.main-content .section-benefit .item .content .name:after{
    content: "";
    width: 6px;
    height: 45px;
    position: absolute;
    left: -30px;
    background: #6CAC04;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.main-content .section-benefit .item .content .text{
    font-size: 17px;
    margin: 10px 0;
    line-height: 1.6;
    max-width: 440px;
}
.main-content .section-benefit .item .content .see-more {
    text-transform: uppercase;
    color: #86C127;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.main-content .section-blog{
    padding: 70px 0;
}
.main-content .section-blog .title{
    font-size: 44px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    line-height: 1;
    margin-bottom: 20px;
}
.main-content .section-blog .row{
    margin-left: -10px;
    margin-right: -10px;
}
.main-content .section-blog .item{
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    font-size: 15px;
    line-height: 1.8;
}
.main-content .section-blog .item .img-blog{
    position: relative;
}
.main-content .section-blog .item .img-blog img{
    width: 100%;
    max-width: unset;
}
.main-content .section-blog .item .img-blog .date{
    position: absolute;
    bottom: 0;
    padding: 8px;
    left: 0;
    right: 0;
    background: rgba(108, 172, 4, 0.7);
    color: #fff;
    border-top-right-radius: 25px;
}
.main-content .section-blog .item .name{
    font-family: 'Montserrat';
    font-size: 20px;
    color: #444444;
    margin: 15px 0 10px;
    line-height: 1.4;
    font-weight: 700;
}
.main-content .section-blog .item .text{
    max-width: 310px;
}
.main-content .section-visit{
    padding: 0;
    background: #0072AD;
    position: relative;
}
.main-content .section-visit .bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 140, 212, 0.3);
}
.main-content .section-visit .content{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    background: #0072AD;
    z-index: 1;
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 17px;
}
.main-content .section-visit .content .title{
    font-family: 'Dancing Script';
    font-weight: 700;
    font-size: 36px;
    color: #00E2FF;
    line-height: 1.2;
    margin-bottom: 20px;
}
.main-content .section-visit .content .text{
    max-width: 400px;
    margin: 20px auto;
}
.main-content  .section-gallery{
    padding: 70px 0 80px;
    text-align: center;
}

.main-content  .section-gallery .title{
    font-family: 'Dancing Script';
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}
.main-content  .section-gallery .descript{
    font-size: 18px;
    text-align: center;
    margin: 10px 0 20px;
}
.main-content  .section-gallery .owl-carousel{
    margin: 40px 0 20px;
}
.main-content  .section-gallery .owl-carousel .owl-item .item{
    opacity: .5;
}
.main-content  .section-gallery .owl-carousel .owl-item.active .item{
    opacity: 1;
}
.main-content  .section-gallery .borders{
    height: 2px;
    background: #444444;
    margin-top: 50px;
    position: relative;
}
.main-content  .section-gallery .borders .text{
    position: absolute;
    top: -22px;
    left: 40%;
    background: #fff;
    color: #444444;
    font-size: 18px;
    padding: 10px;
}
.main-content  .section-gallery .list-img{
    position: relative;
}
.main-content  .section-gallery .next{
    position:absolute;
    top:45%;
    right: 112px;
    width:60px;
    cursor: pointer; 
    z-index: 2
}
.main-content  .section-gallery .prev{
    position:absolute; 
    top:45%;
    left: 112px;
    width:60px;
    cursor: pointer; 
    z-index: 2
}
.section-header .menu-mobile{
    display: none;
}

@media only screen   and (max-width: 766px){ 
    .section-header{
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
    }
    .section-header .header-top{
        display: none;
    }
    .section-header .header-menu{
        padding: 2px 0;
    }
    .section-header .header-menu .grid-menu{
        width: 100%;
    }
    .section-header .header-menu .grid-menu .navbar-brand{
        width: 220px;
    }
    .section-header .content-header{
        width: 100%;
    }
    .section-header .header-menu .grid-menu .navbar-toggler{
        border: 0;
        width: 30px;
        padding: 0;
    }
    .section-header .header-menu .grid-menu .navbar-toggler:focus{
        outline: 0 auto -webkit-focus-ring-color;
    }
    .section-header .menu-mobile{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        background: #f3f3f3;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
    }
    .section-header .menu-mobile .menu-logo{
        padding: 10px 0;
        background: #fff;
    }
    .section-header .menu-mobile .close-menu{
        width: 20px;
        float: right;
        cursor: pointer;
        margin-top: 10px;
    }
    .section-header .menu-mobile .navbar-nav{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .section-header .menu-mobile .nav-link {
        padding: 10px 10px;
        color: #444444;
        font-size: 15px;
        text-align: center;
    }
    .section-header .menu-mobile .nav-link:hover,
    .section-header .menu-mobile .nav-item.active a {
        color: #008CD4;
        position: relative;
    }
    .section-header .menu-mobile .nav-item:hover .nav-link:after,
    .section-header .menu-mobile .nav-item.active .nav-link:after{
        content: "";
        position: absolute;
        width: 25px;
        height: 4px;
        background: #008CD4;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 10px;
    }

    .section-header .menu-mobile .header-info .row div:nth-child(1){
        background: rgba(134, 193, 39, 0.2);
        padding: 10px 15px;
        color: #6CAC04;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        width: 45%;
        float: left;
    }
    .section-header .menu-mobile .header-info .row div:nth-child(2){
        background: #008CD4;
        color: #fff;
        padding: 10px 15px;
        font-size: 13px;
        text-transform: uppercase;
        width: 55%;
        float: left;
    }
    .section-header .menu-mobile .header-info .row div:nth-child(3){
        font-size: 13px;
        padding: 10px 15px;
        width: 100%;
        background: #fff;
        float: left;
    }
    .section-header .menu-mobile .header-info .row div:nth-child(3) img{
        width: 25px;
    }
    .section-header .menu-mobile .social{
        padding:10px;
        text-align: center;
    }

    .section-header .menu-mobile .back-menu{
        background: #fff;
        margin: 5px -15px;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 500;
    }
    .section-header .menu-mobile .back-menu .icon{
        float: left;
        width: 20px;
        cursor: pointer;
    }
    .main-content .section-banner{
        padding-bottom: 0;
    }
    .main-content .section-banner .container{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0,0);
    }
    .main-content .section-banner .content-banner .video{
        width: 100%;
        flex:100%;
        max-width: 100%;
        padding: 0;
        margin-top: 30px;
    }
    .main-content .section-banner .content-banner .video .img-girl{
        top: -90px;
        bottom: auto;
        left: auto;
        right: 15px;
        width: 200px;
    }
    .main-content .section-banner .container .content-text{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-content .section-banner .container .content-text .title{
        font-size: 35px;
    }
    .main-content .section-banner .container .content-text .descript{
        font-size: 16px;
        margin: 15px 0;
    }
    .main-content .section-banner .content-banner{
        width: 100%;
    }
    .main-content .section-about .item{
        margin:0;
    }
    .main-content .section-about .item:last-child{
        padding-bottom: 50px;
        border-bottom: 2px dashed #C3C3C3;
    }
    .main-content .section-about .item .img-about{
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .main-content .section-about .title{
        margin-top: 0;
    }
    .main-content .section-about .ml-3{
        margin-left: 3px !important;
    }
    .main-content .section-about .title-2,
    .main-content .section-why .title span:first-child, 
    .main-content .section-service .title span:first-child, 
    .main-content .section-feedback .title span:first-child,
    .main-content .section-introduce .item .content-doctor .name{
        font-size: 28px;
    }
    .main-content .section-about .title,
    .main-content .section-smiles .title,
    .main-content .section-why .title span:last-child, 
    .main-content .section-service .title span:last-child, 
    .main-content .section-feedback .title span:last-child,
    .main-content .section-gallery .title,
    .main-content .section-visit-us .title,
    .section-footer .footer-top .title,
    .main-content .section-blog .title{
        font-size: 38px;
        line-height: 1.2;
    }
    .main-content .section-about .descript,
    .main-content .section-why .descript,
    .main-content .section-why .item .content-item .text,
    .main-content .section-gallery .descript{
        font-size: 15px;
    }
    .main-content .btn-request, .section-footer .btn-request{
        padding: 12px 18px;
        font-size: 14px;
    }
    .main-content .btn-contact{
        padding: 12px 18px;
        font-size: 14px;
        margin-top: 10px;
    }
    .main-content .section-visit-us .title{
        margin-bottom: 10px;
    }
    .main-content .section-visit-us .descript{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .main-content .section-why{
        padding: 40px 0;
    }
    .main-content .section-why .item .content-item .name{
        font-size: 18px;
    }
    .main-content .section-service .list-service{
        margin: 30px auto 20px;
        padding: 0;
    }
    .main-content .section-service .item{
        width: 50%;
        padding: 3px;
    }
    .main-content .section-service .item .content{
        padding-bottom: calc(100% * 3 / 3);
    }
    .main-content .section-service .item .content .content-text{
        padding: 5px;
    }
    .main-content .section-service .item .content .content-text .name{
        font-size: 15px;
    }
    .main-content .section-service .item .content .content-text .text{
        font-size: 18px;
        line-height: 1.2;
    }
    .main-content .section-introduce{
        margin-bottom: 30px;
    }
    .main-content .section-introduce .item{
        display: inline-block;
        font-size: 15px;
    }
    .main-content .section-introduce .item .img-doctor{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        margin-top: -120px;
    }
    .main-content .section-introduce .item .content-doctor{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
    .main-content .section-introduce .item .btn:first-child{
        margin-bottom: 15px;
    }
    .main-content .section-introduce .item .btn:last-child{
        margin-bottom: 15px;
    }
    .main-content .section-introduce .next{
        left: auto;
        right: 10px;
    }
    .main-content .section-introduce .prev{
        left: 10px;
    }
    .main-content .section-technology .content{
        display: inline-block;
    }
    .main-content .section-technology .content .text{
        width: 100%;
        max-width: unset;
        background: #EFF4FD;
        margin-left: 0;
        padding: 30px 15px;
    }
    .main-content .section-technology .content h3{
        font-size: 28px;
    }
    .main-content .section-technology .content ul li{
        font-size: 15px;
        margin-bottom: 7px;
    }
    .main-content .section-technology .content ul li:before{
        width: 6px;
        height: 6px;
    }
    .main-content .section-benefit .item{
        margin-bottom: 20px;
    }
    .main-content .section-benefit .item .content .name{
        font-size: 25px;
    }
    .main-content .section-benefit .item .content .text{
        font-size: 15px;
    }
    .main-content .section-blog{
        padding: 50px 0;
    }
    .main-content .section-blog .title{
        margin-bottom: 10px;
    }
    .main-content .section-gallery .prev{
        left: 15px;
    }
    .main-content .section-gallery .next{
        right: 15px;
    }
    .main-content .section-gallery .borders .text{
        left: 15%;
        font-size: 16px;
    }
    .main-content .section-visit .content{
        position: relative;
        width: auto;
        padding: 40px 20px;
        font-size: 15px;
    }
    .main-content .section-visit .content .title{
        font-size: 28px;
    }
    .main-content .section-gallery{
        padding: 50px 0;
    }
    .section-footer .footer-top .container{
        padding: 0;
    }
    .section-footer .footer-bottom{
        padding: 30px 15px 80px;
    }
    .section-footer .footer-center {
        padding: 30px 0 50px;
    }
    .section-footer .footer-center .item .btn-continue{
        padding: 12px 18px;
        font-size: 14px;
    }
    .main-content .section-why .item .img-item{
        text-align: center;
    }
    .main-content .section-feedback{
        padding: 30px 0;
        background-size: 0;
    }
    .main-content .section-feedback .item-left{
        width: 100%;
        margin-bottom: 30px;
    }
    .main-content .section-feedback .item-right{
        width: 100%;
        padding-left: 15px;
    }
    .main-content .section-feedback .item-left .item{
        width: 46%;
        float: left;
        min-height: 140px;
        margin: 10px 2%;
        padding: 15px 10px;
    }
    .main-content .section-feedback .item-left .item .star img{
        width: 20px;
    }
    .main-content .section-feedback .item-right .list-fb{
        height: 400px;
    }
    .main-content .section-feedback .icon{
        width: 150px;
        top: 0;
        bottom: auto;
    }
    .section-footer .footer-contact{
        padding: 0;
        position: fixed;
        bottom: 0;
        z-index: 1001;
    }
    .section-footer .footer-contact div:nth-child(1){
        background: rgba(134, 193, 39, 0.4);
        padding: 10px 14px;
        color: #6CAC04;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        width: 50px;
        float: left;
        height: 45px;
    }
    .section-footer .footer-contact div:nth-child(2){
        background: #008CD4;
        color: #fff;
        padding: 12px 14px;
        font-size: 14px;
        text-transform: uppercase;
        width: calc(100% - 100px);
        float: left;
        height: 45px;
        text-align: center;
    }
    .section-footer .footer-contact div:nth-child(3){
        background: rgba(134, 193, 39, 0.4);
        padding: 10px 14px;
        color: #6CAC04;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 16px;
        width: 50px;
        float: left;
        height: 45px;
    }
    
}
@media only screen  and (min-width: 766px) and (max-width: 990px){
    .section-header .header-top .header-info{
        display: none
    }
    .section-header .header-menu .img-logo{
        width: 180px;
    }
    .section-header .header-menu .grid-menu{
        width: 100%;
    }
    .section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-link{
        font-size: 15px;
        padding: 10px;
    }
    .main-content .section-banner .container .content-text .title{
        font-size: 28px;
    }
    .main-content .section-banner .container .content-text .descript{
        font-size: 16px;
        margin: 15px 0;
    }
    .main-content .section-banner .content-banner .video .img-girl{
        width: 150px;
    }
    .main-content .btn-request, .section-footer .btn-request{
        padding: 8px 15px;
        font-size: 14px;
    }
    .main-content .btn-contact{
        padding: 8px 15px;
        font-size: 14px;
        margin-top: 10px;
    }
    .main-content .section-about .item .img-about{
        width: 280px;
        height: 280px;
    }
    .main-content .section-about .descript{
        font-size: 14px;
        margin:0 0 10px;
    }
    .main-content .section-about .title{
        margin-top: 10px;
        font-size: 40px;
    }
    .main-content .section-about .title-2{
        font-size: 30px;
    }
    .main-content .section-feedback{
        background-size: 50%;
    }
    .main-content .section-feedback .icon{
        width: 200px;
    }
    .main-content .section-feedback .item-right{
        padding-left:40px;
    }
    .main-content .section-feedback .item-right .item .text,
    .main-content .section-why .item .content-item .text{
        font-size: 14px;
    }
    .main-content .section-why .item .content-item .name{
        height: 50px;
        font-size: 18px;
    }
    .main-content .section-service .list-service{
        -webkit-box-pack: center!important;
        -ms-flex-pack: center!important;
        justify-content: center!important
    }
    .main-content .section-service .item{
        width: 33.3%;
    }
    .main-content .section-service .item .content .content-text{
        padding: 10px;
    }
    .main-content .section-service .item .content .content-text .name{
        font-size: 18px;
    }
    .main-content .section-service .item .content .content-text .text{
        font-size: 20px;
        line-height: 1.2;
    }
    .main-content .section-introduce{
        padding: 50px 0;
    }
    .main-content .section-introduce .item{
        display: inline-block;
    }
    .main-content .section-introduce .item .img-doctor{
        width: 300px;
        height: 300px;
        margin: 0 auto;
        margin-top: -80px;
    }
    .main-content .section-introduce .next{
        right: 30px;
        top: 45%;
        left: auto;
    }
    .main-content .section-introduce .prev{
        left: 30px;
        top: 45%;
    }
    .main-content .section-introduce .item .content-doctor{
        width: 100%;
        text-align: center;
    }
    .main-content .section-introduce .item .content-doctor .name{
        font-size:25px;
    }
    .main-content .section-introduce .item .content-doctor .text{
        font-size: 14px;
    }
    .main-content .section-technology .content{
        background: #EFF4FD;
    }
    .main-content .section-technology .content h3{
        font-size: 30px;
    }
    .main-content .section-technology .content .descript{
        margin: 10px 0;
    }
    .main-content .section-technology .content .text{
        padding: 30px 0 30px 80px;
    }
    .main-content .section-technology .content ul li{
        font-size: 16px;
    }
    .main-content .section-technology .content ul li:before{
        width: 7px;
        height: 7px;
    }
    .main-content .section-benefit .item .content .name{
        font-size: 30px;
    }
    .main-content .section-benefit .item .content .text{
        font-size: 15px;
    }
    .main-content .section-visit .content{
        padding: 50px;
        font-size: 15px;  
        width: 100%;
    }
    .main-content .section-visit{
        height: 400px;
    }
    .main-content .section-visit .content .text{
        max-width: 450px;
        margin: 10px auto;
    }
    .main-content .section-visit .content .title{
        font-size: 32px;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .main-content .section-visit .mt-3{
       margin-top: 10px !important;
    }
    .main-content .section-why .title span:first-child, 
    .main-content .section-service .title span:first-child, 
    .main-content .section-feedback .title span:first-child,
    .main-content .section-introduce .item .content-doctor .name{
        font-size: 32px;
    }
    .main-content .section-why .title span:last-child, 
    .main-content .section-service .title span:last-child, 
    .main-content .section-feedback .title span:last-child,
    .main-content .section-gallery .title,
    .main-content .section-visit-us .title,
    .section-footer .footer-top .title{
        font-size: 42px;
    }
    .main-content .section-gallery .descript{
        font-size: 16px;
    }
    .section-footer .footer-bottom{
        font-size: 14px;
    }
}
@media only screen  and (min-width: 990px) and (max-width: 1200px){
    .section-header .header-top .header-info div:nth-child(1),
    .section-header .header-top .header-info div:nth-child(2),
    .section-header .header-top .header-info div:nth-child(3){
        font-size: 13px;
        padding: 10px;
    }
    .section-header .header-top .header-info div:nth-child(3) img{
        width: 20px;
    }
    .section-header .header-menu .img-logo{
        width: 200px;
    }
    .section-header .header-menu .grid-menu{
        width: calc(100% - 200px);
    }
    .section-header .header-menu .grid-menu .navbar-expand-sm .navbar-nav .nav-link{
        font-size: 15px;
        padding: 10px;
    }
    .main-content .section-banner .container .content-text .title{
        font-size: 35px;
    }
    .main-content .section-banner .container .content-text .descript{
        font-size: 18px;
        margin: 20px 0;
    }
    .main-content .section-banner .content-banner .video .img-girl{
        width: 200px;
    }
    .main-content .btn-request, .section-footer .btn-request{
        padding: 10px 20px;
        font-size: 14px;
    }
    .main-content .btn-contact{
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 10px;
    }
    .main-content .section-about .item .img-about{
        width: 350px;
        height: 350px;
    }
    .main-content .section-about .descript{
        font-size: 15px;
    }
    .main-content .section-about .title{
        margin-top: 10px;
        font-size: 45px;
    }
    .main-content .section-about .title-2{
        font-size: 35px;
    }
    .main-content .section-feedback{
        background-size: 36%;
    }
    .main-content .section-feedback .item-right{
        padding-left: 60px;
    }
    .main-content .section-feedback .item-right .item .text,
    .main-content .section-why .item .content-item .text{
        font-size: 15px;
    }
    .main-content .section-why .item .content-item .name{
        height: 65px;
    }
    .main-content .section-service .item .content .content-text{
        padding: 10px;
    }
    .main-content .section-service .item .content .content-text .name{
        font-size: 18px;
    }
    .main-content .section-service .item .content .content-text .text{
        font-size: 20px;
        line-height: 1.2;
    }
    .main-content .section-introduce{
        padding: 50px 0;
    }
    .main-content .section-introduce .item .img-doctor{
        width: 400px;
        height: 400px;
        margin-top: -80px;
    }
    .main-content .section-introduce .next{
        left: 430px;
    }
    .main-content .section-introduce .prev{
        left: -5px;
    }
    .main-content .section-introduce .item .content-doctor .name{
        font-size: 35px;
    }
    .main-content .section-introduce .item .content-doctor .text{
        font-size: 15px;
    }
    .main-content .section-technology .content h3{
        font-size: 30px;
    }
    .main-content .section-technology .content .descript{
        margin: 10px 0;
    }
    .main-content .section-technology .content .text{
        padding: 30px 0 30px 80px;
    }
    .main-content .section-technology .content ul li{
        font-size: 16px;
    }
    .main-content .section-technology .content ul li:before{
        width: 7px;
        height: 7px;
    }
    .main-content .section-benefit .item .content .name{
        font-size: 30px;
    }
    .main-content .section-benefit .item .content .text{
        font-size: 15px;
    }
    .main-content .section-visit .content{
        padding: 30px;
        font-size: 15px;  
    }
    .main-content .section-visit .content .text{
        max-width: 450px;
        margin: 10px auto;
    }
    .main-content .section-visit .content .title{
        font-size: 32px;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .main-content .section-visit .mt-3{
       margin-top: 10px !important;
    }
    .main-content .section-why .title span:first-child, 
    .main-content .section-service .title span:first-child, 
    .main-content .section-feedback .title span:first-child,
    .main-content .section-introduce .item .content-doctor .name{
        font-size: 34px;
    }
    .main-content .section-why .title span:last-child, 
    .main-content .section-service .title span:last-child, 
    .main-content .section-feedback .title span:last-child,
    .main-content .section-gallery .title,
    .main-content .section-visit-us .title,
    .section-footer .footer-top .title{
        font-size: 44px;
    }
    .section-footer .footer-bottom{
        font-size: 14px;
    }
}
@media only screen  and (min-width: 1200px) and (max-width: 1350px){
    .section-header .header-menu .img-logo{
        width: 300px;
    }
    .section-header .header-menu .grid-menu{
        width: calc(100% - 300px);
    }
}